@import "app/css/variable";

.page-info {
  letter-spacing: (0.3/$df-fs)*$rem;
  margin-bottom: (27/$df-fs)*$rem;

  &.less-margin {
    margin-bottom: (15/$df-fs)*$rem;
  }

  .note-title {
    color: #2a2a2c;
    font-family: $sfui-bold;
    font-size: (16/$df-fs)*$rem;
  }

  .note-content {
    margin-top: (10/$df-fs)*$rem;
    color: #212121;
    font-size: (14/$df-fs)*$rem;
  }
}

.security-page {
  .btn-login {
    font-family: $sfui-medium;
  }
}