@import "app/css/variable";

.radio-btn {
  position: relative;

  .radio-item {
    input {
      outline: none;
      -webkit-appearance: none;
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 2px solid #212121;
      border-radius: 50%;

      &:checked {
        &:after {
          content: "\E921";
          font-family: $fixel-icon !important;
          color: #917bd5;
          position: absolute;
          font-size: 16px;
          background: white;
          top: 12px;
          left: 12px;
          height: 24px;
          width: 24px;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  .item-label {
    cursor: pointer;
    font-size: 9px;
    letter-spacing: 1.3px;
    color: #2a2a2c;
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    top: -2px;
  }
}