@import 'app/css/variable';

.change-status-modal {
  .upper {
    .title {
      span {
        font-family: $sfui-bold;
        color: #2a2a2c;
      }
    }

    .description {
      p {
        margin-bottom: (12/$df-fs)*$rem;
        color: #212121;
      }

      .fixle-textarea-counter {
        .title {
          font-family: $sfui-regular !important;
          text-transform: uppercase;
          font-size: (9/$df-fs)*$rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: #757575;
        }
      }
    }
  }
}