@import 'app/css/variable';

.clients-list {
  .header-list-page {
    .search-bar {
      .form-control {
        min-width: (375/$df-fs)*$rem;
      }
    }
  }

  .content {
    .avatar-client {
      border-radius: 50%;
    }
  }

  .clients-list-footer {
    button {
      margin-left: (12/$df-fs)*$rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}