@import "app/css/variable";

.user-profile {
  height: 100%;
  background: #f5f5f5;

  .header-edit-add-page {
    .action {
      .btn-ghost {
        &.edit {
          min-width: (111/$df-fs)*$rem;;
        }
      }
    }
  }

  .information {
    .edit {
      color: #917bd5;
      font-size: (14/$df-fs)*$rem;
      position: absolute;
      right: (24/$df-fs)*$rem;
      top: (24/$df-fs)*$rem;
    }

    .right {
      padding-left: (36/$df-fs)*$rem;

      .avatar-image {
        margin-bottom: (12/$df-fs)*$rem;
      }

      .details {
        > div {
          &:last-child {
            margin-bottom: 0;
          }
        }

        .info-item {
          margin-bottom: (20/$df-fs)*$rem;

          .title {
            line-height: 0.7;
            margin-bottom: (12/$df-fs)*$rem;
          }

          .data {
            p {
              line-height: 1.36;
              margin-bottom: 0;
            }
          }
        }

        .resend-email {
          width: (193/$df-fs)*$rem;
          height: (32/$df-fs)*$rem;
          padding: 0;
          font-size: (10/$df-fs)*$rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: (1.3/$df-fs)*$rem;
          margin-bottom: (12/$df-fs)*$rem;
        }
      }
    }

    .icon-contain {
      top: (18/$df-fs)*$rem;
      right: (18/$df-fs)*$rem;
    }
  }

  .user-profile-footer {
    position: absolute;

    button:last-child {
      margin-left: (12/$df-fs)*$rem;
    }

    .btn-login {
      margin-bottom: 0;
    }
  }
}

.modal {
  .modal-dialog {
    &.update-success-modal {
      top: 50%;
      transform: translate(0, -50%) !important;
      margin: 0 auto;
    }
  }
}