@import "app/css/variable";

.coupon-item {
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: (14.5/$df-fs)*$rem;
  padding-bottom: (16/$df-fs)*$rem;
  display: table;
  width: 100%;

  .details {
    display: table-cell
  }

  .delete {
    display: table-cell;
    padding-left: (20/$df-fs)*$rem;
    vertical-align: top;
    width: (70/$df-fs)*$rem;

    .icon-contain {
      text-align: center;
      position: inherit;
      margin: auto;

      .icon-bin {
        color: #917bd5;
        font-size: (16/$df-fs)*$rem;
        cursor: pointer;
      }
    }
  }

  .dropdown-edit {
    display: table-cell;
    width: (65/$df-fs)*$rem;

    .btn-secondary {
      height: (40/$df-fs)*$rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      line-height: 1;
    }

    .dropdown-menu {
      width: (65/$df-fs)*$rem;
      box-shadow: 0px (5/$df-fs)*$rem (10/$df-fs)*$rem #D2D2D2;
    }
  }

  .discount-input {
    display: table-cell;
    height: (40/$df-fs)*$rem;
    border-radius: (4/$df-fs)*$rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: solid 1px #e0e0e0;
    border-left: none;
    width: 100%;
    letter-spacing: (0.3/$df-fs)*$rem;
    background-color: #fafafa;
    padding: 0 (13/$df-fs)*$rem;
  }

  .expiry-datepicker {
    height: (40/$df-fs)*$rem;
    border-radius: (4/$df-fs)*$rem;
    border: solid 1px #e0e0e0;
    width: 100%;
    letter-spacing: (0.3/$df-fs)*$rem;
    background-color: #fafafa;
    padding: 0 (13/$df-fs)*$rem;
    font-size: (14/$df-fs)*$rem;
  }

  .data {
    display: table;
    width: 100%;
    position: relative;

    .react-datepicker-wrapper {
      position: absolute;
      opacity: 0;
      z-index: 1;
      width: 100%;

      .react-datepicker__input-container {
        width: 100%;
      }
    }
  }
}