@import 'app/css/variable';

.member-profile {
  .fixel-tab-content {
    .time-navigation {
      font-size: (9/$df-fs)*$rem;
      line-height: 1.56;
      letter-spacing: (1.3/$df-fs)*$rem;;
      color: $color-lighter-chocolate;
      text-transform: uppercase;

      span {
        display: inline-block;
        margin: 0 (30/$df-fs)*$rem;
      }

      i {
        cursor: pointer;
        color: $color-violet;
      }
    }

    .lef-part {
      padding: (24/$df-fs)*$rem;
      background: $color-gray-disabled;
    }

    .right-part {
      background: $color-white;
      border-left: 1px solid $color-lightest-grey;

      &.activities {
        padding: 0;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        position: relative;
        overflow: hidden;

        .information {
          padding: (28/$df-fs)*$rem (24/$df-fs)*$rem;
          border: none;
          background-color: transparent;
        }
      }
    }

    .earning-rate {
      .statistic {
        margin-bottom: (24/$df-fs)*$rem;
      }

      .employee-item {
        background: $color-white;
        display: table;
        width: 100%;
        padding: (16/$df-fs)*$rem;
        border: 1px solid $color-lightest-grey;
        border-radius: (4/$df-fs)*$rem;

        .employee-item-left,
        .employee-item-right {
          display: table-cell;
          width: 50%;
        }

        .employee-item-right {
          text-align: right;
        }

        .name {
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          line-height: 1.31;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: $color-lighter-chocolate;
        }

        .price {
          font-size: (32/$df-fs)*$rem;
          font-weight: 300;
          line-height: 1.25;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: $color-chocolate;
        }

        .percent,
        .reviews {
          padding: (15/$df-fs)*$rem 0;
        }

        .rating {
          font-size: (32/$df-fs)*$rem;
          line-height: 1.25;
          letter-spacing: (0.3/$df-fs)*$rem;

          i {
            color: $color-violet;
            font-size: (16/$df-fs)*$rem;

            &.icon-star-full {
              margin: 0 (5/$df-fs)*$rem;
            }
          }
        }

        .top {
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: $color-lighter-chocolate;
          text-transform: uppercase;

          &.view {
            color: $color-violet;
            padding: 0;
          }
        }

        .bottom {
          height: (40/$df-fs)*$rem;
          margin-top: (20/$df-fs)*$rem;

          &.reviews {
            padding-top: (20/$df-fs)*$rem;
            line-height: 1;
            letter-spacing: (1.3/$df-fs)*$rem;
            vertical-align: bottom;
            text-transform: uppercase;
            font-size: (9/$df-fs)*$rem;
          }
        }
      }
    }

    .list-module {
      background: $color-white;
      padding: (24/$df-fs)*$rem (24/$df-fs)*$rem 0;
      border: 1px solid $color-lightest-grey;
      margin-top: (24/$df-fs)*$rem;
      border-radius: (4/$df-fs)*$rem;

      .fixel-module {
        .fixel-module-title {
          display: table;
          width: 100%;
          margin-bottom: (23/$df-fs)*$rem;

          .fixel-title,
          .time {
            display: table-cell;
            width: 50%;
          }

          .time {
            text-align: right;
          }
        }

        .list-provider {
          margin: 0 (-24/$df-fs)*$rem;

          .table-assign-employee {
            thead {
              tr {
                th {
                  padding: (5/$df-fs)*$rem (23/$df-fs)*$rem;
                }
              }
            }

            tbody {
              tr {
                td {
                  padding: (19/$df-fs)*$rem (23/$df-fs)*$rem;

                  &:first-child {
                    text-align: left;
                  }

                  &:last-child {
                    text-align: right;
                  }

                  .btn-purple {
                    width: (96/$df-fs)*$rem;
                    height: (24/$df-fs)*$rem;
                    font-size: (9/$df-fs)*$rem;
                    background: $purple;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }

    .reviews-content {
      border: none;
      margin-top: 0;
      padding-top: (24/$df-fs)*$rem;
      background: $color-gray-disabled;

      .list-module-reviews {
        padding: (22/$df-fs)*$rem (23/$df-fs)*$rem;
        border-radius: (4/$df-fs)*$rem;
        border: 1px solid $color-lightest-grey;
        background: $color-white;
      }

      .reviews-module {
        margin-bottom: ((24/$df-fs)*$rem);
        display: table;
        width: 100%;
        position: relative;
        background: $color-white;

        .img-module,
        .detail-module {
          display: table-cell;
          vertical-align: top;
        }

        .img-module {
          width: (75/$df-fs)*$rem;

          .image-employ {
            width: (40/$df-fs)*$rem;
            height: (40/$df-fs)*$rem;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .detail-module {
          .title-module {
            font-size: (16/$df-fs)*$rem;
            font-family: $sfui-bold;
            line-height: 1.31;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: $color-lighter-chocolate;
          }

          .rating-module {
            i {
              color: $color-violet;
              font-size: (16/$df-fs)*$rem;
              margin-right: (8/$df-fs)*$rem;
            }
          }

          .content-module {
            line-height: 1.36;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: $color-chocolate;
            margin-top: (16/$df-fs)*$rem;
          }
        }

        .time {
          position: absolute;
          top: 0;
          right: 0;
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          text-transform: uppercase;
          color: #9e9e9e;
        }

        &.rate-module {
          border: 1px solid $color-lightest-grey;
          display: flex;
          padding: (22/$df-fs)*$rem (23/$df-fs)*$rem;
          border-radius: (4/$df-fs)*$rem;

          .rate-number {
            position: relative;
            width: 20%;

            .number {
              font-size: (32/$df-fs)*$rem;
              font-weight: 300;
              line-height: 1.25;
              letter-spacing: (0.3/$df-fs)*$rem;
              color: $color-chocolate;

              i {
                font-size: (16/$df-fs)*$rem;
                color: $color-violet;

                &:first-child {
                  margin: 0 (7/$df-fs)*$rem;
                }
              }
            }

            .view {
              font-size: (9/$df-fs)*$rem;
              line-height: 1.56;
              letter-spacing: (1.3/$df-fs)*$rem;
              color: $color-lighter-chocolate;
              position: absolute;
              bottom: (15/$df-fs)*$rem;
              left: 0;
              text-transform: uppercase;
            }
          }

          .group-rate-progress {
            width: 80%;
            text-align: right;
            margin-bottom: (12/$df-fs)*$rem;

            .group-icon,
            .progress {
              display: inline-block;
            }

            .group-icon {
              i {
                color: $color-violet;
                font-size: (11/$df-fs)*$rem;
              }
            }

            .progress {
              width: (456/$df-fs)*$rem;
              margin-left: (17/$df-fs)*$rem;
              height: (4/$df-fs)*$rem;

              .progress-bar {
                height: 100%;
                background: $purple;
              }
            }
          }
        }
      }
    }
  }

  .list {
    &.table-assigned {
      .status {
        .content {
          max-width: (96/$df-fs)*$rem;
        }
      }
    }
  }
}