@import 'app/css/variable';

.new-job {
  .error-text {
    width: 100%;
    padding: 0 (6/$df-fs)*$rem;
    letter-spacing: (0.3/$df-fs)*$rem;
    color: #212121;
    position: relative;
    margin-top: (4/$df-fs)*$rem;
    display: table;

    [class*='icon-'] {
      font-size: (17/$df-fs)*$rem;
      color: #f65b58;
      display: table-cell;
      vertical-align: top;
      width: 1%;
      padding-right: (8/$df-fs)*$rem;
    }

    span {
      font-size: (11/$df-fs)*$rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: (0.3/$df-fs)*$rem;
      color: #212121;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .single-selection {
    width: 100%;

    .title {
      color: #757575;

      &.chosen {
        color: #212121;
      }
    }
  }

  .appoinment-time {
    .date-time-section {
      width: 100%;

      .date-picker {
        .form-input {
          margin-bottom: 0;
        }

        .react-datepicker-popper {
          right: 0 !important;
          left: auto !important;
          width: (433/$df-fs)*$rem;
        }

        .react-datepicker__month-container {
          width: 100%;
        }

        .react-datepicker {
          width: 100%;

          .react-datepicker__day-names {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;

            .react-datepicker__day-name {
              //display: table-cell;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 (100/7)*1%;
              flex: 0 0 (100/7)*1%;
              max-width: (100/7)*1%;
            }
          }

          .react-datepicker__week {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .react-datepicker__day {
              display: flex;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .comment-images {
    .label {
      margin-bottom: (5/$df-fs)*$rem;

      span {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
      }
    }

    textarea.form-control {
      color: #212121;
      background-color: $color-snow;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .images {
      .proof-upload-wrapper {
        padding: (16/$df-fs)*$rem (19/$df-fs)*$rem (14/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        border-bottom-left-radius: (4/$df-fs)*$rem;
        border-bottom-right-radius: (4/$df-fs)*$rem;
        border-top: none;
        margin: 0;
        width: 100%;

        .proof-label {
          display: none;
        }
      }

      .image-frame-wrapper {
        .proof-wrapper {
          .item-proof {
            .icon-cancel {
              color: #212121;
            }
          }
        }
      }
    }
  }

  .description {
    line-height: 1.36;
    letter-spacing: (0.3/$df-fs)*$rem;
    color: #757575;
  }
}