@import "app/css/variable";

.device-edit-profile {
  .edit-device-content {
    padding-bottom: (64/$df-fs)*$rem;

    .contact-number {
      input {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
      }

      .input-group-text {
        background-color: $color-snow;
        font-size: (14/$df-fs)*$rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: (1.3/$df-fs)*$rem;
        text-align: center;
        color: $color-old-lavender;
        border-top-left-radius: 0;
      }

      .input-form {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
      }

      .dropdown-edit {
        .btn-secondary {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .single-select {
        .f-select-container .f-select__control {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .information {
      .details {
        .input-group {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.address-details {
        .right {
          padding-right: (10/$df-fs)*$rem;
        }
      }
    }

    .device-avatar {
      .avatar-wrapper {
        display: table-cell;
        width: (72/$df-fs)*$rem;
        height: (72/$df-fs)*$rem;
        border: solid 1px #e0e0e0;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }

      .change-avatar {
        display: table-cell;
        padding-left: (16/$df-fs)*$rem;
      }
    }

    .addition-action {
      margin-top: (14/$df-fs)*$rem;

      button {
        font-size: (10/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
        width: (169/$df-fs)*$rem;
        padding: 0;
      }
    }
  }
}