@import 'app/css/variable';

.services-list {
  .services-search {
    .form-control {
      min-width: (217/$df-fs)*$rem;
    }
  }
}

.remove-confirm-modal {
  .modal-body {
    padding: (24/$df-fs)*$rem;

    .upper {
      .title {
        span {
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          line-height: 1.31;
        }
      }

      .description {
        margin-top: (11/$df-fs)*$rem;

        span {
          font-size: (14/$df-fs)*$rem;
          line-height: 1.36;
        }
      }
    }

    .lower {
      margin-top: (25/$df-fs)*$rem;
    }
  }
}