@import "app/css/variable";

.single-select {
  margin-bottom: (16/$df-fs)*$rem;

  .f-select-container {
    .f-select {
      &__control {
        border-radius: (4/$df-fs)*$rem;
        height: (40/$df-fs)*$rem;
      }

      &__value-container {
        padding: 0;
        height: 100%;
      }
    }
  }
}

.form-label {
  font-size: (9/$df-fs)*$rem;
  line-height: 1.56;
  letter-spacing: 1.3px;
  color: #757575;
  text-transform: uppercase;
  margin-bottom: (5/$df-fs)*$rem;
}

.f-select-container {
  font-size: (14/$df-fs)*$rem;
  width: 100%;
  line-height: 1.36;
  letter-spacing: 0.3px;
  color: #212121;

  .f-select {
    &__control {
      cursor: pointer;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: solid 1px #e0e0e0;
      background-color: #fafafa;
      border-radius: 4px 4px 0 0; //height: (40/$df-fs)*$rem;
      padding: 0 (10/$df-fs)*$rem;

      &--is-focused {
        box-shadow: 0px 0px 0px 2px $color-chocolate !important;
        border: solid 1px $color-lightest-grey;
        z-index: 999;
      }

      &--menu-is-open {
        .f-select {
          &__dropdown-indicator {
            &:after {
              content: '\e9bc';
            }
          }
        }
      }

      &:hover,
      &:focus {
        box-shadow: 0px 0px 0px 2px $color-chocolate !important;
        border: solid 1px transparent;
        outline: none;
        z-index: 99;
      }
    }

    &__indicator {
      &-separator {
        background: white;
        display: none;
      }

      &.f-select__loading-indicator {
        display: none !important;
      }
    }

    &__indicator:hover {
      &-separator {
        background: white;
      }
    }

    &__dropdown-indicator {
      position: relative;

      path {
        display: none;
      }

      &:before {
        content: '';
        background: #fafafa;
        width: (20/$df-fs)*$rem;
        height: (20/$df-fs)*$rem;
        position: absolute;
      }

      &:after {
        content: '\e9b9';
        font-family: $fixel-icon !important;
        font-size: (8/$df-fs)*$rem;
        position: absolute;
        right: (4/$df-fs)*$rem;
        top: 37%;
        color: #917bd5;

        &:hover {
          color: #917bd5;
        }
      }
    }

    &__dropdown-indicator:hover {
      color: $color-chocolate;
    }

    &__menu {
      border-radius: (4/$df-fs)*$rem;
      padding: 0;
      margin: 0;
      display: block !important;
      margin-top: (2/$df-fs)*$rem;
      z-index: 99999;
    }

    &__menu-list {
      padding: 0;
      /*style for scrollbar*/
      z-index: 99999;

      &::-webkit-scrollbar {
        width: (5/$df-fs)*$rem;
        background-color: $color-white;
        margin-right: (5/$df-fs)*$rem;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
        background-color: $color-white;
        padding-right: (5/$df-fs)*$rem;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: #e5e5e5;
        outline: 1px solid #fff;
        border-radius: (10/$df-fs)*$rem;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #e5e5e5;
      }

      /*end style*/
    }

    &__single-value {
      color: black;
    }

    &__option {
      cursor: pointer;
      color: $color-chocolate;
      font-family: $sfui-regular;
      font-size: (14/$df-fs)*$rem;
      font-weight: normal;
      line-height: 1.36;
      letter-spacing: (0.3/$df-fs)*$rem;
      padding: (15/$df-fs)*$rem (12/$df-fs)*$rem;

      &:hover {
        background: #eeeeee !important;
      }

      &:active {
        background: #e0e0e0 !important;
      }

      &--is-selected {
        background-color: #f5f5f5 !important;
        color: $color-chocolate;

        &:after {
          content: '\e922';
          font-family: $fixel-icon !important;
          font-size: (14/$df-fs)*$rem;
          color: $color-violet;
          position: absolute;
          right: (12/$df-fs)*$rem;
        }
      }
    }

    &__option:not(:hover):not(.-is-selected) {
      background: white;
      color: $color-chocolate;
    }

    &__input {
      input {
        box-shadow: none !important;
      }
    }
  }

  .css-xp4uvy {
    color: $color-chocolate;
    font-family: $sfui-regular;
    font-size: (14/$df-fs)*$rem;
  }
}