@import "app/css/variable";

.edit-member-profile {
  .edit-member-footer {
    position: absolute;

    button:last-child {
      margin-left: (12/$df-fs)*$rem;
    }

    .btn-login {
      margin-bottom: 0;
    }
  }
}