@import 'app/css/variable';

.modal-edit-proof {
  .form-input {
    .react-datepicker-wrapper {
      width: 100%;
    }

    .react-datepicker__input-container {
      width: 100%;
      opacity: 0;
      position: absolute;
      z-index: 1;

      input {
        cursor: pointer;
      }
    }

    .react-datepicker-popper {
      top: 100% !important;
      transform: none !important;
    }
  }
}