@import "app/css/variable";

.btn-add-purple-round {
  background-color: #50C878;
  border-radius: (4/$df-fs)*$rem;
  color: #fff;
  cursor: pointer;
  font-size: (12/$df-fs)*$rem;
  line-height: 1.17;
  letter-spacing: (0.1/$df-fs)*$rem;
  text-align: center;
  text-transform: uppercase;
  padding: (14/$df-fs)*$rem;
  height: (40/$df-fs)*$rem;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #38B261;
  }

  &:active {
    background-color: #38B261;
  }

  &:disabled {
    background-color: #c8bdea;
  }
}