@import "app/css/variable";

.dashboard {
  //height: 100%;
  .wrapper {
    display: flex;
    align-items: stretch;

    &.hidden-menu {
      .left-side {
        width: (72/$df-fs)*$rem;

        .second-menu {
          display: none;
        }
      }

      .display {
        margin-left: (72/$df-fs)*$rem;
      }
    }
  }

  .left-side {
    position: fixed;
    left: 0;
    z-index: 999;
    width: (256/$df-fs)*$rem;
    background: #50C878;
    height: 100vh;

    .side-bar {
      float: left;
      min-width: (72/$df-fs)*$rem;
      max-width: (72/$df-fs)*$rem;
      height: 100vh;
      font-size: (15/$df-fs)*$rem;
      line-height: 1.6;
      color: #ffffff;
      background-color: #50C878;
      position: relative; //fix for IE do not remove
      z-index: 2;

      .item-wrapper {
        padding: (24/$df-fs)*$rem (16/$df-fs)*$rem;
        height: 100%;
        width: 100%;
        z-index: 1; //fix for IE do not remove
        position: absolute; //fix for IE do not remove
        .menu-item {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: (8/$df-fs)*$rem;
          cursor: pointer;
          line-height: 1;
          width: (40/$df-fs)*$rem;
          height: (40/$df-fs)*$rem;

          .avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          .logo-white {
            width: (22/$df-fs)*$rem;
          }

          .icon-main {
            font-size: (19/$df-fs)*$rem;
            line-height: (40/$df-fs)*$rem;
          }

          .btn-secondary {
            padding: 0;
            border-radius: 50%;
            border: none;
            box-shadow: none !important;
            background-color: transparent;
            width: (40/$df-fs)*$rem;
            height: (40/$df-fs)*$rem;

            &:hover {
              background-color: rgba(255, 255, 255, 0.5);
            }

            &:active,
            &.active {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }

          &.notification {
            .dropdown-menu {
              width: (314/$df-fs)*$rem;
              border-radius: (4/$df-fs)*$rem;

              .dropdown-item {
                padding: (8/$df-fs)*$rem (13/$df-fs)*$rem (12/$df-fs)*$rem;
                border-bottom: 1px solid #e0e0e0;
                margin: 0;
                font-weight: normal !important;

                [class*='icon-'] {
                  margin-right: 0;
                }

                &.unread {
                  font-family: $sfui-bold;
                }

                &.no-noti {
                  padding: (15/$df-fs)*$rem;
                }

                .type {
                  .icon {
                    width: (40/$df-fs)*$rem;
                    height: (40/$df-fs)*$rem;
                    background-color: #4d3a87;
                    font-size: (16/$df-fs)*$rem;
                    border-radius: 50%;
                    text-align: center;
                    padding: (12/$df-fs)*$rem;

                    span {
                      color: #fff;
                      margin-right: 0;
                    }
                  }
                }

                .info {
                  padding-left: (14/$df-fs)*$rem;
                  padding-right: (18/$df-fs)*$rem;

                  .content {
                    word-break: break-word;
                    white-space: normal;
                  }

                  .time {
                    font-size: (9/$df-fs)*$rem;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.56;
                    letter-spacing: (1.3/$df-fs)*$rem;
                    color: #757575;
                  }
                }

                .delete {
                  span {
                    color: #917bd5;
                    font-size: (12/$df-fs)*$rem;
                    display: inline-block;
                    text-align: center;
                    width: (24/$df-fs)*$rem;
                    height: (24/$df-fs)*$rem;

                    &::before {
                      line-height: (24/$df-fs)*$rem;
                    }
                  }
                }
              }
            }

            .btn-secondary {
              position: relative;

              .unread {
                background-color: #F38EE9;
                border-radius: 50%;
                width: (20/$df-fs)*$rem;
                height: (20/$df-fs)*$rem;
                position: absolute;
                top: 0;
                right: 0;
                font-size: (10/$df-fs)*$rem;

                span {
                  vertical-align: sub;
                }
              }
            }
          }
        }

        .dropdown-menu {
          width: (218/$df-fs)*$rem;
          transform: none !important;
          box-shadow: 0 (20/$df-fs)*$rem (40/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
          padding: 0;
          margin: 0;

          .dropdown-item {
            cursor: pointer;
            padding: (17/$df-fs)*$rem (12/$df-fs)*$rem;
            font-size: (14/$df-fs)*$rem;
            color: #212121;

            &:hover {
              background-color: #eeeeee;
            }

            &:focus {
              outline: 0;
            }

            &:active {
              background-color: #e0e0e0;
              color: #212121;
            }

            [class*='icon-'] {
              font-size: (14/$df-fs)*$rem;
              color: #212121;
              margin-right: (12/$df-fs)*$rem;
            }
          }
        }

        .upper-menu {
          position: fixed;

          .menu-item {
            position: relative;

            .dropdown-menu {
              left: (52/$df-fs)*$rem !important;
            }
          }

          .second-menu-mini {
            padding-top: (8/$df-fs)*$rem;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            margin: 0 (-4/$df-fs)*$rem;
          }
        }

        .lower-menu {
          position: fixed;
          bottom: (24/$df-fs)*$rem;

          .menu-item {
            margin-top: (6/$df-fs)*$rem;
            margin-bottom: (6/$df-fs)*$rem;

            &:last-child {
              height: auto;
              margin-top: (30/$df-fs)*$rem;
              margin-bottom: 0;
            }

            .dropdown-menu {
              top: auto !important;
              left: (56/$df-fs)*$rem !important;
              bottom: 0 !important;
            }

            &.avatar {
              .btn-secondary {
                width: (36/$df-fs)*$rem;
                height: (36/$df-fs)*$rem;
              }
            }
          }
        }
      }
    }

    .second-menu {
      min-width: (184/$df-fs)*$rem;
      max-width: (184/$df-fs)*$rem;
      background-color: #50C878;
      height: 100%;
      float: left;

      .menu-wrapper {
        padding: (16/$df-fs)*$rem 0;
        width: (184/$df-fs)*$rem;

        .menu {
          list-style: none;
          padding-left: 0;
          width: (184/$df-fs)*$rem;
          position: fixed;

          li {
            cursor: pointer;

            a {
              color: #fff;
              padding: (16.5/$df-fs)*$rem (18/$df-fs)*$rem;
              display: block;
              font-size: (15/$df-fs)*$rem;
              line-height: 1.6;
              letter-spacing: (0.3/$df-fs)*$rem;

              [class^="icon-"] {
                margin-right: (24/$df-fs)*$rem;
              }
            }

            &.active {
              background-color: #38B261;
              border-top-left-radius: (4/$df-fs)*$rem;
              border-bottom-left-radius: (4/$df-fs)*$rem;
            }

            &:hover {
              background-color: #38B261;
              border-top-left-radius: (4/$df-fs)*$rem;
              border-bottom-left-radius: (4/$df-fs)*$rem;
            }
          }
        }
      }
    }
  }

  .display {
    margin-left: (256/$df-fs)*$rem;
    min-height: 100vh;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

  .noti {
    position: relative;
    padding: (23/$df-fs)*$rem (28/$df-fs)*$rem;

    .Toastify__toast-body {
      font-family: $sfui-medium;
      font-size: (14/$df-fs)*$rem;
      letter-spacing: (0.3/$df-fs)*$rem;
      color: #212121;
      word-break: break-word;
    }

    .icon-cancel {
      color: #917bd5;
      position: absolute;
      right: (14/$df-fs)*$rem;
      top: (23/$df-fs)*$rem;
    }
  }
}

.modal {
  .modal-dialog {
    &.logout-modal-v2 {
      .modal-body {
        .lower {
          margin-top: (28/$df-fs)*$rem;
        }
      }
    }
  }
}