@import "app/css/variable";

.fixle-checkbox-circle {
  label {
    margin: 0;
    font-family: $sfui-regular;
    line-height: 1;
  }

  .fixle-input {
    display: none;

    + .fixle-span {
      cursor: pointer;
      vertical-align: middle;

      &::before {
        content: '\e927';
        color: #212121;
        font-family: $fixel-icon !important;
        speak: none;
        font-style: normal;
        font-size: (16/$df-fs)*$rem;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &:checked {
      + .fixle-span {
        &::before {
          content: '\e921';
          color: $color-medium-purple;
        }
      }
    }

    &:disabled {
      + .fixle-span {
        background: rgba(0, 0, 0, .35);
      }
    }
  }

  .fixle-label {
    cursor: pointer;
    font-size: (9/$df-fs)*$rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: (1.3/$df-fs)*$rem;
    color: #2a2a2c;
    text-transform: uppercase;
    margin-left: 1rem;

    //not allow user select text
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
  }
}