@import "app/css/variable";

.file-wrapper-verify {
    font-family: $sfui-medium;
    margin-bottom: (16/$df-fs)*$rem;

    .label {
        font-family: $sfui-regular;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: $color-gray-main;
        font-size: (9/$df-fs)*$rem;
        margin-bottom: (8/$df-fs)*$rem;
        text-transform: uppercase;
    }

    .upload-wrapper {
        position: relative;
        cursor: pointer;

        .btn-content {
            line-height: 3.2;
            letter-spacing: (1.3/$df-fs)*$rem;
            text-align: center;
            color: $color-violet;
            font-size: (10/$df-fs)*$rem;
            text-transform: uppercase;
            cursor: pointer;
            position: absolute;
            left: (74/$df-fs)*$rem;
            top: (10/$df-fs)*$rem;

            &:hover {
                color: #453B70;
            }

            &:focus {
                color: #4D3A87;
            }
        }

        .input-file {
            cursor: pointer;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            bottom: 0;
            text-indent: -999px;
            z-index: 999;

            &:hover+.btn-content {
                color: #625a87;
            }

            &:focus+.btn-content {
                color: #453b70;
            }
        }

        .image-frame {
            width: (48/$df-fs)*$rem;
            height: (48/$df-fs)*$rem;
            border: solid 1px #e0e0e0;
            background-color: #f5f5f5;
            border-radius: (4/$df-fs)*$rem;
            margin: 0 auto (8/$df-fs)*$rem;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            display: inline-block;

            .image {
                width: 100%;
                height: 100%;
            }

            .icon-style {
                font-size: (15/$df-fs)*$rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }


    }

    .view-status {
        .status {
            font-size: (9/$df-fs)*$rem;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #2a2a2c;
            text-transform: uppercase;
            vertical-align: middle;
            line-height: 1.56;
        }

        [class^='icon'] {
            margin-right: (8/$df-fs)*$rem;
            font-size: (14/$df-fs)*$rem;
            
            line-height: 1;
        }

        .verified {
            [class^='icon'] {
                color: #917BD5;
            }
        }

        .unverified {
            [class^='icon'] {
                color: #f65b58;
            }
        }
    }

    .subscription {
        font-family: $sfui-regular;
        color: $color-lighter-grey;
        line-height: 1.45;
        letter-spacing: (0.3/$df-fs)*$rem;
        font-size: (11/$df-fs)*$rem;
    }

    .error-text {
        .error-content {
            color: $color-chocolate;
            margin-left: (7/$df-fs)*$rem;
            font-size: (11/$df-fs)*$rem;
        }
    }
}