@import "app/css/variable";

.multi-selection {
  .multi-select-label {
    font-size: (9/$df-fs)*$rem;
    line-height: 1.56;
    letter-spacing: 1.3px;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: (5/$df-fs)*$rem;
  }

  > div {
    > button {
      width: 100%;
      border: 1px solid $color-lightest-grey;
      cursor: pointer;
      height: (40/$df-fs)*$rem;
      background-color: #fafafa;
      padding: (10/$df-fs)*$rem;
      box-shadow: none;
      border-radius: (4/$df-fs)*$rem;

      .css-1gpjby2 {
        display: none;
      }

      .css-1v99tuv {
        font-size: (14/$df-fs)*$rem;
        font-weight: normal;
        line-height: 1.36;
        letter-spacing: 0.3px;
        color: #757575; //color: #212121;
      }

      &:after {
        content: '\e9b9';
        font-family: $fixel-icon;
        border: 0;
        position: absolute;
        top: (15/$df-fs)*$rem;
        right: (9/$df-fs)*$rem;
        font-size: (10/$df-fs)*$rem;
        color: $color-violet;
      }

      &.css-48ayfv,
      &:focus {
        /*box-shadow: inset  0px 0px 0px 3px $color-chocolate;*/
        border: 2px solid $color-chocolate;

        &:after {
          content: '\e9bc';
          font-family: $fixel-icon;
          border: 0;
          position: absolute;
          top: (15/$df-fs)*$rem;
          right: (9/$df-fs)*$rem;
          font-size: (10/$df-fs)*$rem;
          color: $color-chocolate;
        }
      }
    }

    > div {
      width: 100%;
      margin-top: 0 !important;
      box-shadow: 0px (5/$df-fs)*$rem (10/$df-fs)*$rem rgba(68, 68, 68, 0.4);

      .css-10nd86i {
        .css-15brt4p {
          display: none !important;
        }
      }

      .css-ik6y5r {
        .css-11unzgr {
          font-size: 14px;
          font-weight: normal;
          line-height: 1.36;
          letter-spacing: 0.3px;
          color: #212121;

          .css-lc91z5 {
            &:hover {
              background: #fafafa;
            }

            input {
              width: (16/$df-fs)*$rem;
              height: (16/$df-fs)*$rem;

              &:before {
                content: '\e9ae';
                font-family: $fixel-icon;
                color: $color-chocolate;
                font-size: (16/$df-fs)*$rem;
                margin-right: (12/$df-fs)*$rem;
                background: white;
                position: absolute;
              }
            }
          }

          .css-19lyk4y {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.36;
            letter-spacing: 0.3px;
            color: #212121;
            background-color: #f5f5f5;

            input {
              width: (16/$df-fs)*$rem;
              height: (16/$df-fs)*$rem;

              &:before {
                content: '\e9af';
                font-family: $fixel-icon !important;
                color: #917bd5;
                position: absolute;
                font-size: (16/$df-fs)*$rem;
                margin-right: (12/$df-fs)*$rem;
                background: white;
              }
            }
          }
        }
      }
    }
  }

  &.has-status {
    > div {
      > button {
        padding-left: (60/$df-fs)*$rem;
      }
    }
  }
}