@import "app/css/variable";

.form-group-content {
  &.more-padding {
    padding-bottom: (14/$df-fs)*$rem;
  }

  .form-group-title {
    margin-bottom: (30/$df-fs)*$rem;
  }

  .page-info {
    margin-bottom: (22/$df-fs)*$rem;

    .note-title {
      line-height: 1.31;
      letter-spacing: (0.3/$df-fs)*$rem;
    }

    .note-content {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: (0.3/$df-fs)*$rem;
      margin-top: (11/$df-fs)*$rem;
    }
  }

  .form-input {
    margin-bottom: (14/$df-fs)*$rem;
  }

  .forgot-style {
    width: 50%;
    color: $color-violet;
    font-size: (10/$df-fs)*$rem;
    font-weight: 500;
    line-height: 3.2;
    letter-spacing: (1.3/$df-fs)*$rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 0 auto (27/$df-fs)*$rem;
    padding: 0;

    &.security {
      margin: 0 auto (13/$df-fs)*$rem;
      color: $color-medium-purple;
    }

    &:hover {
      color: #625a87; //font-weight: 600;
    }

    &:active {
      color: #453b70; //font-weight: 600;
    }

    &.disabled {
      color: #c8bdea;

      &:hover {
        color: #c8bdea; //font-weight: 500;
      }

      &:active {
        color: #c8bdea; //font-weight: 500;
      }
    }
  }
}

.resend-time {
  text-align: center;
  color: $color-violet;
}

.security-page {
  .input-form {
    color: #212121;
  }
}