@import "app/css/variable";
/**
 * _custom.scss
 *
 * This is where you declare all your global style like: menu, table, form, ...
 */

//error api in bottom each form
.errors {
    background-color: $color-pastel-red;
    padding: (14/$df-fs)*$rem (16/$df-fs)*$rem;
    display: table;
    width: 100%;
    color: #fff;
    border-radius: (4/$df-fs)*$rem;
    [class*='icon-'] {
        font-size: (14/$df-fs)*$rem;
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        padding-right: (20/$df-fs)*$rem
    }
    .error-item {
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        span {
            font-size: (14/$df-fs)*$rem;
        }
    }
}

//style for some text be able click, make hover and active style
.filxe-link {
    cursor: pointer;
    &:hover {
        color: #625a87 !important;
    }
    &:active {
        color: #453b70 !important;
    }
    &.disabled,
    &:disabled {
        cursor: not-allowed !important;
        color: #c8bdea !important;
    }
}

//rating arrow for all
.rating {
    .icon-arrow-down {
        color: #f65659 !important;
    }
}

// Header each pages
.action {
    //margin-bottom: (8/$df-fs)*$rem;
    .return {
        display: inline-block; // text-align: center;
        width: (32/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
        margin-top: (-4/$df-fs)*$rem;
        margin-left: (-4/$df-fs)*$rem;
        cursor: pointer;
        background-color: transparent;
        text-align: center;
        padding-top: (5/$df-fs)*$rem;
        border-radius: 50%;
        vertical-align: middle;
        &:hover {
            background-color: rgba(33, 33, 33, 0.2);
        }
        &:focus,
        &:active {
            background-color: rgba(33, 33, 33, 0.3);
        }
        [class*='icon-'] {
            // display: table-cell;
            //vertical-align: middle;
            color: $color-medium-purple;
            font-size: (24/$df-fs)*$rem;
        }
    }
}

//Icon in edit and view page
.icon-contain {
    color: $color-violet;
    width: (32/$df-fs)*$rem;
    height: (32/$df-fs)*$rem;
    padding-top: (8/$df-fs)*$rem;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: (18/$df-fs)*$rem;
    top: (18/$df-fs)*$rem;
    &:hover {
        background-color: rgba(33, 33, 33, 0.2);
    }
    &:focus,
    &:active {
        background-color: rgba(33, 33, 33, 0.3);
    }
}

// Header for list page
.header-list-page {
    padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (16/$df-fs)*$rem;
    background-color: #fff;
    .form-inline {
        margin: 0;
        >*+div {
            margin-left: (12/$df-fs)*$rem;
            margin-bottom: 0; //need this
        }
    }
    .fixle-checkbox-circle {
        margin-left: (16/$df-fs)*$rem;
    }
    .btn-add-purple-round {
        min-width: (169/$df-fs)*$rem;
        height: (40/$df-fs)*$rem;
        font-family: $sfui-medium;
        font-size: (12/$df-fs)*$rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: (1.6/$df-fs)*$rem;
        color: #ffffff;
        text-align: left;
        i {
            margin-right: (15/$df-fs)*$rem;
        }
    }
    .period-dropdown,
    .services-dropdown {
        &.dropdown {
            &.show {
                .fixle-caret {
                    &::before {
                        content: '\e9bc';
                    }
                }
            }
        }
        .dropdown-menu {
            //max-height: (456/$df-fs)*$rem;
            min-width: (218/$df-fs)*$rem;
            padding: 0;
            transform: none !important;
            top: 100% !important;
            overflow: hidden;
            border-radius: (4/$df-fs)*$rem;
            box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
        }
        .btn-secondary {
            min-width: (217/$df-fs)*$rem;
            height: (40/$df-fs)*$rem;
            text-align: left;
            border-color: #e0e0e0;
            background-color: transparent;
            border-radius: (4/$df-fs)*$rem;
            overflow: hidden;
            &:active {
                background-color: #fafafa;
            }
        }
        .title {
            font-size: (9/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #2a2a2c;
            text-transform: uppercase;
            display: inline-block;
        }
        .content {
            color: #212121;
        }
        .dropdown-item {
            padding: (15/$df-fs)*$rem;
            cursor: pointer;
            color: #212121;
            &:hover,
            &:focus {
                background-color: #f5f5f5;
            }
            &:active {
                background-color: #e0e0e0;
                color: #212121;
            }
            .content {
                font-size: (14/$df-fs)*$rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #212121;
            }
        }
    }
    input {
        font-size: (14/$df-fs)*$rem;
        color: #212121;
        padding: (10/$df-fs)*$rem (16/$df-fs)*$rem (11/$df-fs)*$rem;
        border: solid 1px $color-platinum; //border-right-color: transparent;
        border-radius: (4/$df-fs)*$rem;
        background-color: $color-snow;
    }
    .search-bar {
        position: relative;
        &>.form-control {
            height: (40/$df-fs)*$rem;
            min-width: (320/$df-fs)*$rem;
            font-size: (14/$df-fs)*$rem;
            color: #212121;
            padding: (10/$df-fs)*$rem (16/$df-fs)*$rem (11/$df-fs)*$rem;
            border: solid 1px $color-platinum;
            border-radius: (4/$df-fs)*$rem;
            background-color: $color-snow;
        }
        .input-group-append {
            .btn {
                background-color: $color-snow;
                border: solid 1px $color-platinum;
                border-left: none;
                color: $color-violet;
                padding-left: 0;
            }
        }
        [class*='icon-'] {
            color: $color-medium-purple;
            font-size: (16/$df-fs)*$rem;
            cursor: pointer;
            position: absolute;
            right: (13/$df-fs)*$rem;
            top: (13/$df-fs)*$rem;
            z-index: 69;
            &:hover {
                color: #625a87 !important;
            }
            &:focus,
            &:active {
                color: #453b70 !important;
            }
        }
    }
    .period {
        position: relative;
        .label-multi {
            font-size: (9/$df-fs)*$rem;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #2a2a2c;
            text-transform: uppercase;
            position: absolute;
            top: (15/$df-fs)*$rem;
            left: (15/$df-fs)*$rem;
            z-index: 9999;
        }
    }
}

//Header for edit and add new page
.header-edit-add-page {
    background-color: #ffffff;
    width: 100%;
    padding: (24/$df-fs)*$rem;
    padding-bottom: 0;
    border-bottom: solid (1/$df-fs)*$rem #e0e0e0;
    .period-dropdown {
        &.dropdown {
            &.show {
                .fixle-caret {
                    &::before {
                        content: '\e9bc';
                    }
                }
            }
        }
        .dropdown-menu {
            //max-height: (456/$df-fs)*$rem;
            min-width: (218/$df-fs)*$rem;
            padding: 0;
            transform: none !important;
            top: 100% !important;
            overflow: hidden;
            border-radius: (4/$df-fs)*$rem;
        }
        .btn-secondary {
            min-width: (217/$df-fs)*$rem;
            height: (40/$df-fs)*$rem;
            border-radius: (4/$df-fs)*$rem;
            text-align: left;
            border-color: #e0e0e0;
            background-color: transparent;
            overflow: hidden;
            &:active {
                background-color: #fafafa;
            }
        }
        .title {
            font-size: (9/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #2a2a2c;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 0;
        }
        .content {
            color: #212121;
        }
        .dropdown-item {
            padding: (15/$df-fs)*$rem;
            cursor: pointer;
            color: #212121;
            &:hover,
            &:focus {
                background-color: #f5f5f5;
            }
            &:active {
                background-color: #e0e0e0;
                color: #212121;
            }
            .content {
                font-size: (14/$df-fs)*$rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #212121;
            }
        }
    }
    .action {
        margin-bottom: (4/$df-fs)*$rem;
    }
    .joined-date {
        font-family: $sfui-regular;
        font-size: (9/$df-fs)*$rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
        padding-top: (5/$df-fs)*$rem;
        padding-bottom: (2/$df-fs)*$rem;
    }
    .title {
        font-size: (22/$df-fs)*$rem;
        font-family: $sfui-heavy;
        line-height: 1.23;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #212121;
        margin-bottom: (12/$df-fs)*$rem;
    }
    .btn-group {
        font-family: $sfui-medium;
        button {
            min-width: (111/$df-fs)*$rem;
            padding: (13/$df-fs)*$rem;
        }
        button+button {
            margin-left: (12/$df-fs)*$rem;
        }
    }
    .tab {
        border: none;
        margin-top: (-6/$df-fs)*$rem;
        .tab-item {
            display: inline-block;
            text-align: center;
            width: (211/$df-fs)*$rem;
            cursor: pointer;
            span {
                color: #757575;
                font-size: (10/$df-fs)*$rem;
                line-height: 3.2;
                letter-spacing: (1.3/$df-fs)*$rem;
                text-transform: uppercase;
            }
            .nav-link {
                padding: 0;
                line-height: 1;
            }
            .selected {
                border-bottom: 2px solid #212121 !important;
                span {
                    color: #212121;
                    font-weight: 600;
                }
            }
        }
    }
}

//Content for edit and add new page
.content-add-edit {
    padding: (24/$df-fs)*$rem (218/$df-fs)*$rem;
    .information {
        background: #fff;
        border-radius: (4/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        padding: (24/$df-fs)*$rem;
        margin-bottom: (24/$df-fs)*$rem;
        position: relative; // .icon-contain {
        //     top: (-5/$df-fs)*$rem;
        //     right: (5/$df-fs)*$rem;
        // }
        .icon-camera,
        .icon-edit,
        .icon-bin,
        .upload-background,
        .add-icon,
        .icon-search {
            cursor: pointer;
            &:hover {
                color: #625a87 !important;
            }
            &:focus,
            &:active {
                color: #453b70 !important;
            }
        }
        .left {
            .title {
                font-family: $sfui-bold;
                span {
                    color: #2a2a2c;
                    font-size: (16/$df-fs)*$rem;
                    line-height: 1.31;
                    letter-spacing: (0.3/$df-fs)*$rem;
                    font-weight: 600;
                }
            }
        }
        .right {
            padding-left: (36/$df-fs)*$rem;
            padding-right: (18/$df-fs)*$rem;
            .avatar-image {
                margin-bottom: (12/$df-fs)*$rem;
                position: relative;
                img {
                    display: inline-block;
                    width: (72/$df-fs)*$rem;
                    height: (72/$df-fs)*$rem;
                    border-radius: 50%;
                    border: 1px solid #e0e0e0;
                }
                .avatar-wrapper {
                    display: table-cell;
                }
                .file-wrapper {
                    left: (96/$df-fs)*$rem;
                }
            }
            .change-avatar {
                display: table-cell;
                vertical-align: middle;
                font-size: (10/$df-fs)*$rem;
                color: #917bd5;
                line-height: 3.2;
                letter-spacing: (1.3/$df-fs)*$rem;
                text-transform: uppercase;
                font-weight: 600;
                padding-left: (26/$df-fs)*$rem;
                cursor: pointer;
                &:hover {
                    color: $color-violet-hover !important;
                }
                &:focus,
                &:active {
                    color: $color-violet-pressed !important;
                }
            }
            .details {
                .input-group {
                    margin-bottom: (12/$df-fs)*$rem;
                }
                .info-item {
                    .title {
                        margin-bottom: (5/$df-fs)*$rem;
                        span {
                            font-size: (9/$df-fs)*$rem;
                            line-height: 1.56;
                            letter-spacing: (1.3/$df-fs)*$rem;
                            color: #757575;
                            text-transform: uppercase;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                        }
                    }
                    .data {
                        font-size: (14/$df-fs)*$rem;
                        line-height: 1.36;
                        letter-spacing: (0.3/$df-fs)*$rem;
                        color: #212121;
                    }
                    &.contact-number {
                        width: 100%;
                        margin-bottom: 0;
                        .single-select {
                            margin-bottom: 0;
                            .f-select-container {
                                .f-select__control {
                                    border-bottom: none;
                                    border-bottom-left-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }
                        input {
                            position: relative;
                            -webkit-box-flex: 1;
                            -ms-flex: 1 1 auto;
                            flex: 1 1 auto;
                            width: 1%;
                            margin-bottom: 0;
                        }
                        .input-group-prepend {
                            display: table;
                            .input-group-text {
                                background-color: $color-snow;
                                font-size: (14/$df-fs)*$rem;
                                font-weight: normal;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.36;
                                letter-spacing: (1.3/$df-fs)*$rem;
                                text-align: center;
                                color: $color-old-lavender;
                                border-top-left-radius: 0;
                                display: table-cell;
                                vertical-align: middle;
                                padding: 0;
                                width: (85/$df-fs)*$rem;
                                height: (40/$df-fs)*$rem;
                            }
                        }
                        .input-form {
                            //margin-top: (-1/$df-fs)*$rem;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                        .dropdown-edit {
                            .btn-secondary {
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                    }
                    &:last-child {
                        .input-group {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .errors {
                margin-top: (12/$df-fs)*$rem;
            }
            input {
                color: #212121;
            }
        }
    }
    .search-bar {
        position: relative;
        &>.form-control {
            height: (40/$df-fs)*$rem;
            min-width: (320/$df-fs)*$rem;
            font-size: (14/$df-fs)*$rem;
            color: #212121;
            padding: (10/$df-fs)*$rem (16/$df-fs)*$rem (11/$df-fs)*$rem;
            border: solid 1px $color-platinum;
            border-radius: (4/$df-fs)*$rem;
            background-color: $color-snow;
        }
        .input-group-append {
            .btn {
                background-color: $color-snow;
                border: solid 1px $color-platinum;
                border-left: none;
                color: $color-violet;
                padding-left: 0;
            }
        }
        [class*='icon-'] {
            color: $color-medium-purple;
            position: absolute;
            cursor: pointer;
            right: (13/$df-fs)*$rem;
            top: (13/$df-fs)*$rem;
            z-index: 69;
            &:hover {
                color: #625a87 !important;
            }
            &:focus,
            &:active {
                color: #453b70 !important;
            }
        }
    }
}

//Content for view before edit
.content {
    .information {
        border: 1px solid #e0e0e0;
        border-radius: (4/$df-fs)*$rem;
        .icon-camera,
        .icon-edit,
        .icon-bin,
        .upload-background,
        .add-icon,
        .edit {
            cursor: pointer;
            &:hover {
                color: #625a87 !important;
            }
            &:focus,
            &:active {
                color: #453b70 !important;
            }
        }
        .left {
            .title {
                font-family: $sfui-bold;
                span {
                    font-size: (16/$df-fs)*$rem;
                    color: #2a2a2c;
                    line-height: 1.31;
                    letter-spacing: (0.3/$df-fs)*$rem;
                }
            }
        }
        .right {
            padding-left: (36/$df-fs)*$rem;
            input {
                color: #212121;
            }
        }
    }
}

//Content for list page
.content-list-page {
    &.selecting {
        padding-bottom: (56/$df-fs)*$rem;
    }
    &+.footer {
        font-family: $sfui-medium;
        font-weight: normal;
        padding: (8/$df-fs)*$rem (24/$df-fs)*$rem;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: auto;
        background-color: #ffffff;
        border-top: solid 1px #e0e0e0;
        text-align: left;
        button {
            min-width: (193/$df-fs)*$rem; // margin-right: (12/$df-fs)*$rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

//STYLE FOR FIXLE
.fixle-list-image-overflow {
    position: relative;
    height: (48/$df-fs)*$rem;
    @for $i from 1 through 5 {
        img:nth-child(#{$i}) {
            margin-left: 6px * ($i - 1);
            z-index: (5 - $i);
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: (4/$df-fs)*$rem;
        width: (48/$df-fs)*$rem;
        height: (48/$df-fs)*$rem;
    }
}

.fixle-tooltip {
    top: (-2/$df-fs)*$rem !important;
    &.show {
        opacity: 1;
    }
    .tooltip-inner {
        background-color: #424242;
        font-size: (8/$df-fs)*$rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #ffffff;
        text-transform: uppercase;
        padding: (3/$df-fs)*$rem;
    }
    .arrow {
        display: none;
    }
}

.fixle-link {
    &:hover {
        color: #625a87 !important;
    }
    &:active {
        color: #453b70 !important;
    }
}

//----------------------------------------
//content with activities right side
.content-details-with-activities {
    .left-part {
        padding: (24/$df-fs)*$rem;
    }
    .right-part {
        padding: 0;
        border-left: 1px solid #e0e0e0;
        >.information {
            border: none;
            border-radius: 0;
        }
    }
    .information {
        background: #fff;
        border-radius: (4/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        padding: (24/$df-fs)*$rem;
        margin-bottom: (24/$df-fs)*$rem;
        position: relative;
        .icon-camera,
        .icon-edit,
        .icon-bin,
        .upload-background,
        .add-icon,
        .edit {
            cursor: pointer;
            &:hover {
                color: #625a87 !important;
            }
            &:focus,
            &:active {
                color: #453b70 !important;
            }
        }
        .title {
            span {
                color: #2a2a2c;
                font-size: (16/$df-fs)*$rem;
                font-family: $sfui-bold;
                line-height: 1.31;
                letter-spacing: (0.3/$df-fs)*$rem;
                font-weight: 600;
            }
        }
        .right {
            .company-logo {
                margin-bottom: (16/$df-fs)*$rem;
                text-align: center;
                img {
                    display: table-cell;
                    width: (72/$df-fs)*$rem;
                    height: (72/$df-fs)*$rem;
                    border-radius: 50%;
                    border: 1px solid #e0e0e0;
                }
            }
            .details {
                .info-item {
                    margin-bottom: (16/$df-fs)*$rem;
                    .title {
                        span {
                            margin-bottom: (11/$df-fs)*$rem;
                            font-size: (9/$df-fs)*$rem;
                            line-height: 1.56;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            color: #757575;
                            text-transform: uppercase;
                        }
                    }
                    .data {
                        font-size: (14/$df-fs)*$rem;
                        line-height: 1.36;
                        letter-spacing: (0.3/$df-fs)*$rem;
                        color: #212121;
                    }
                }
            }
        }
        .edit {
            color: #917bd5;
            font-size: (14/$df-fs)*$rem;
            position: absolute;
            right: (24/$df-fs)*$rem;
            top: (24/$df-fs)*$rem;
        }
    }
    .list {
        margin: 0 (-24/$df-fs)*$rem (-24/$df-fs)*$rem;
        table {
            width: 100%;
            .title {
                tr {
                    border-bottom: 1px solid #e0e0e0;
                    td {
                        padding: (16/$df-fs)*$rem 0;
                        &:first-child {
                            padding-left: (32/$df-fs)*$rem;
                            ;
                            text-align: left;
                        }
                        &:last-child {
                            padding-right: (26/$df-fs)*$rem;
                            text-align: right;
                        }
                        span {
                            font-size: (10/$df-fs)*$rem;
                            line-height: 1.6;
                            letter-spacing: (2/$df-fs)*$rem;
                            color: #9e9e9e;
                            text-transform: uppercase;
                        }
                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
            .content {
                font-size: (14/$df-fs)*$rem;
                line-height: 1.36;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #212121;
                tr {
                    border-bottom: 1px solid #e0e0e0;
                    &:last-child {
                        border-bottom: none;
                    }
                    td {
                        padding: (16/$df-fs)*$rem 0;
                        &:first-child {
                            font-family: $sfui-bold;
                            padding-left: (32/$df-fs)*$rem;
                            text-align: left;
                        }
                        &:last-child {
                            padding-right: 1.625rem;
                            text-align: right;
                        }
                        &.company-name {
                            img {
                                width: (32/$df-fs)*$rem;
                                border-radius: 50%;
                                border: 1px solid #eeeeee;
                                margin-right: (16/$df-fs)*$rem;
                            }
                        }
                        &.status {
                            .content {
                                text-align: center;
                                padding: 0.31rem 0;
                                background-color: #4d3a87;
                                border-radius: 0.25rem;
                                color: #fff;
                                text-transform: uppercase;
                                font-size: 0.5625rem;
                                line-height: 1.56;
                                letter-spacing: 0.081rem;
                            }
                        }
                    }
                    &.selected {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
    }
    .time-count {
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: (70/$df-fs)*$rem;
            left: (19/$df-fs)*$rem;
            bottom: (32/$df-fs)*$rem;
            width: 2px;
            background: #eeeeee;
        }
        .section {
            overflow: hidden;
            position: relative;
            margin-top: (24/$df-fs)*$rem;
            .date {
                font-size: (14/$df-fs)*$rem;
                font-family: $sfui-bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #212121;
                margin-bottom: (8/$df-fs)*$rem;
            }
            .list-activities {
                .item-activity {
                    position: relative;
                    min-height: (40/$df-fs)*$rem;
                }
                .avatar-activity {
                    background-color: #4d3a87;
                    border-radius: 50%;
                    width: (40/$df-fs)*$rem;
                    height: (40/$df-fs)*$rem;
                    text-align: center;
                    float: left;
                    span {
                        line-height: (40/$df-fs)*$rem;
                        color: #fff;
                    }
                }
                .info {
                    padding-left: (54/$df-fs)*$rem;
                    .category,
                    .time {
                        font-size: (9/$df-fs)*$rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.56;
                        letter-spacing: (1.3/$df-fs)*$rem;
                        color: #9e9e9e;
                        text-transform: uppercase;
                        margin-bottom: (3/$df-fs)*$rem;
                    }
                    .description {
                        font-size: (14/$df-fs)*$rem;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.36;
                        letter-spacing: (0.3/$df-fs)*$rem;
                        span {
                            color: #917bd5;
                        }
                    }
                    .time {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

//Footer all page
.footer {
    padding: (8/$df-fs)*$rem (24/$df-fs)*$rem;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;
    background-color: #ffffff;
    border-top: solid (1/$df-fs)*$rem #e0e0e0;
    button {
        font-family: $sfui-medium;
        min-width: (140/$df-fs)*$rem;
        width: auto;
        height: (40/$df-fs)*$rem;
        margin-bottom: 0;
        padding: 0;
        &+button {
            margin-left: (12/$df-fs)*$rem;
            margin-right: 0;
        }
    }
}

// Table for fixle
.table-fixle {
    background-color: #fff; // Caret with dropdown
    td {
        padding: (12/$df-fs)*$rem (6/$df-fs)*$rem;
        border: none;
    }
    img {
        cursor: pointer;
        border-radius: 50%;
        width: (32/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
    }
    .name {
        cursor: pointer;
    }
    .react-bs-container-body {
        overflow: visible;
    }
    .fixle-checkbox-square {
        line-height: 1;
        display: flex;
        * {
            box-sizing: border-box;
        }
        input[type=checkbox] {
            display: none;
            &:checked+label {
                .check {
                    //background: #1e95fb;
                    transition: all 0.2s ease-in;
                    &:after {
                        content: '\e9af';
                        color: $color-medium-purple;
                    }
                }
            }
            &:indeterminate+label {
                .check {
                    transition: all 0.2s ease-in;
                    &:after {
                        content: '\e9ae';
                        color: #212121;
                    }
                }
            }
        }
        label {
            margin: 0 auto;
            .check {
                display: table-cell;
                vertical-align: middle;
                line-height: 1;
                width: (40/$df-fs)*$rem;
                height: (40/$df-fs)*$rem;
                text-align: center;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                transition: all 0.2s ease-in;
                &:after {
                    color: $color-dark-jungle-green;
                    content: '\e9ae';
                    font-family: $fixel-icon !important;
                    speak: none;
                    font-style: normal;
                    font-size: (16/$df-fs)*$rem;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
    .icon-edit {
        cursor: pointer;
        color: #917bd5;
        &:hover {
            color: #625a87 !important;
        }
        &:focus,
        &:active {
            color: #453b70 !important;
        }
    }
    thead {
        font-family: $sfui-medium;
        font-size: (10/$df-fs)*$rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: (2/$df-fs)*$rem;
        color: $color-old-lavender;
        text-transform: uppercase;
        tr {
            border: none;
            th {
                padding: (8/$df-fs)*$rem (6/$df-fs)*$rem;
                border: none;
                font-weight: normal; //do not remove
                position: relative;
                &:first-child {
                    //this is checkbox square
                    padding-left: (24/$df-fs)*$rem;
                    padding-right: 0;
                }
                &:last-child {
                    padding-right: (26/$df-fs)*$rem;
                }
                .order {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    line-height: 1; //fix height for IE 11
                    padding-top: (22/$df-fs)*$rem;
                    .caret {
                        &::before {
                            font-family: $fixel-icon;
                            color: $color-medium-purple;
                            font-size: (8/$df-fs)*$rem;
                            line-height: 1;
                            content: '\e9bc';
                        }
                    }
                    &.dropup {
                        .caret {
                            &::before {
                                content: '\e9b9';
                            }
                        }
                    }
                }
            }
        }
    }
    .table-fixle-content {
        font-size: (14/$df-fs)*$rem;
        line-height: 1.36;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #212121;
        tr {
            border-top: 1px solid $color-platinum;
            td {
                text-align: left;
                vertical-align: middle;
                text-overflow: clip;
                padding-top: (16/$df-fs)*$rem;
                padding-bottom: (15/$df-fs)*$rem;
                &:first-child {
                    //this is checkbox square
                    padding-left: (24/$df-fs)*$rem;
                    padding-right: 0;
                }
                &:last-child {
                    padding-right: (26/$df-fs)*$rem;
                    overflow: visible;
                }
                &.client-name {
                    img {
                        width: (32/$df-fs)*$rem;
                        border-radius: 50%;
                        border: solid #eeeeee 1px;
                        margin-right: (16/$df-fs)*$rem;
                    }
                }
                &.status {
                    .status {
                        display: inline-block;
                    }
                    .content {
                        text-align: center;
                        min-width: (72/$df-fs)*$rem;
                        padding: (5/$df-fs)*$rem 0;
                        border-radius: (4/$df-fs)*$rem;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: (9/$df-fs)*$rem;
                        line-height: 1.56;
                        letter-spacing: (1.3/$df-fs)*$rem;
                        &.active {
                            background-color: #4d3a87
                        }
                        &.inactive {
                            background-color: #bdbdbd;
                        }
                    }
                    &.status-job {
                        .content {
                            min-width: (109/$df-fs)*$rem;
                            max-width: (109/$df-fs)*$rem;
                            width: (109/$df-fs)*$rem;
                        }
                    }
                }
                .action-dropdown {
                    font-family: $sfui-regular;
                    .btn-secondary {
                        width: (32/$df-fs)*$rem;
                        height: (32/$df-fs)*$rem;
                        border-radius: 50%;
                        background-color: transparent;
                        border: none;
                        padding: (8/$df-fs)*$rem;
                        &:hover {
                            background-color: #f5f5f5;
                            outline: 0;
                            box-shadow: none !important;
                        }
                        &:focus {
                            outline: 0;
                            box-shadow: none !important;
                        }
                        &:active {
                            outline: 0;
                            background-color: #e0e0e0;
                            box-shadow: none !important;
                        }
                    }
                    [class*='icon-'] {
                        color: $color-medium-purple;
                        font-size: (16/$df-fs)*$rem;
                    }
                    .dropdown-menu {
                        left: auto !important;
                        $top4: (4/$df-fs)*$rem;
                        top: calc(100% + #{$top4}) !important;
                        right: 0;
                        padding: 0;
                        border-radius: (4/$df-fs)*$rem;
                        width: (194/$df-fs)*$rem;
                        box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
                        border: none;
                        transform: none !important;
                        .dropdown-item {
                            padding: (15/$df-fs)*$rem (24/$df-fs)*$rem;
                            cursor: pointer;
                            border: 1px solid transparent;
                            &:hover {
                                background-color: #eeeeee;
                                border-top: 1px solid $color-platinum;
                                border-bottom: 1px solid $color-platinum;
                            }
                            &:first-child {
                                &:hover {
                                    border-top: 1px solid transparent;
                                    border-bottom: 1px solid $color-platinum;
                                }
                            }
                            &:last-child {
                                &:hover {
                                    border-top: 1px solid $color-platinum;
                                    border-bottom: 1px solid transparent;
                                }
                            }
                            &:focus {
                                background-color: #fafafa;
                                color: #212121;
                            }
                            &:active {
                                background-color: #e0e0e0;
                                color: #212121;
                            }
                            &:disabled {
                                background-color: #f5f5f5;
                                color: #9e9e9e;
                            }
                        }
                    }
                }
                &.react-bs-table-no-data {
                    text-align: center;
                }
            }
        }
    }
    .table-fixle-body {
        overflow: visible;
    }
}

// Checkbox style for table
//Custom btn
[class*='btn'] {
    cursor: pointer
}

.btn {
    &.forgot-style {
        width: 50%;
        color: $color-violet;
        font-size: (10/$df-fs)*$rem;
        font-weight: 500;
        line-height: 3.2;
        letter-spacing: (1.3/$df-fs)*$rem;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        margin: 0 auto (27/$df-fs)*$rem;
        padding: 0;
        &.security {
            margin: 0 auto (13/$df-fs)*$rem;
            color: $color-medium-purple;
        }
        &:hover {
            color: #625a87; //font-weight: 600;
        }
        &:active {
            color: #453b70; //font-weight: 600;
        }
        &.disabled {
            color: #c8bdea;
            &:hover {
                color: #c8bdea; //font-weight: 500;
            }
            &:active {
                color: #c8bdea; //font-weight: 500;
            }
        }
    }
}

//Dropdown menu full width with parent
.dropdown-menu {
    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
    .show {
        width: 100%;
    }
}

//Modal custom for all
.modal {
    .modal-dialog {
        &.logout-modal {
            top: 50%;
            transform: translate(0, -50%) !important;
            margin: 0 auto;
            .modal-body {
                .lower {
                    text-align: center;
                    margin-top: (15/$df-fs)*$rem;
                    button {
                        height: (40/$df-fs)*$rem;
                        padding: (10/$df-fs)*$rem;
                    }
                }
            }
        }
    }
    .modal-body {
        padding: (24/$df-fs)*$rem;
        .upper {
            .title {
                span {
                    color: #2a2a2c;
                    font-size: (16/$df-fs)*$rem;
                    font-family: $sfui-bold;
                    line-height: 1.31;
                    text-transform: capitalize;
                }
            }
            .description {
                margin-top: (11/$df-fs)*$rem;
                color: #212121;
                .question {
                    font-size: (14/$df-fs)*$rem;
                    line-height: 1.36;
                }
            }
        }
        .lower {
            $distance-between: 6;
            margin-top: (25/$df-fs)*$rem;
            button {
                font-family: $sfui-medium;
                font-weight: normal;
                margin-right: ($distance-between/$df-fs)*$rem;
                min-height: (40/$df-fs)*$rem;
                min-width: (100% - $distance-between / 2) / 2;
                max-width: 50%;
                line-height: 1;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.verify-modal {
    margin: 0 auto;
}

.modal-dialog {
    @media (min-width: 576px) {
        max-width: (352/$df-fs)*$rem;
    }
}

.vertical-middle-modal,
.update-confirm {
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%) !important;
}

.react-switch {
    opacity: 1 !important;
    .react-switch-handle {
        box-shadow: none !important;
    }
}