/**
 * _variable.scss
 *
 * This is where you should declare all SCSS Variables.
 */

//font-size
$df-fs: 14;
$tablet-fs: 18;
$rem: 1rem;
$vw: 1vw;
//color
$color-pastel-red: #f65659;
$color-melon-1: #ffc3b4;
$color-melon-2: #faaaab;
$color-fire-engine-red: #c6271f;
$color-rose-gold: #b8796a;
$color-dark-byzantium: #4a2453;
$color-dark-slate-blue-1: #453b70;
$color-dark-slate-blue-2: #4d3a87;
$color-ucla-blue: #625a87;
$color-medium-purple: #917bd5;
$color-languid-lavender: #c8bdea;
$color-pale-lavender: #ded7f2;
$color-snow: #fafafa;
$color-white-smoke: #f5f5f5;
$color-isabelline: #eeeeee;
$color-platinum: #e0e0e0;
$color-gray: #bdbdbd;
$color-dark-gray: #adadad;
$color-manatee: #9e9e9e;
$color-old-lavender: #757575;
$color-outer-space: #424242;
$color-dark-jungle-green: #212121;
$color-border-focus: #383b41;
//companyadmin css
$color-chocolate: #212121;
$color-lighter-chocolate: #2a2a2c;
$color-white: #ffffff;
$color-darker-white: #fafafa;
$color-lightest-grey: #e0e0e0;
$color-lighter-grey: #9e9e9e;
$color-lighter-violet:#c8bdea;
$color-violet:#917bd5;
$color-violet-hover:#625a87;
$color-violet-pressed:#453b70;
$color-violet-disabled:#c8bdea;
$purple:#4d3a87;
$color-dark-violet:#292343;
$purple-lighter:#917bd5;
$color-gray:#757575;
$color-red:#f65b58;
$color-gray-hover:#eeeeee;
$color-gray-pressed:#e0e0e0;
$color-gray-disabled:#f5f5f5;
$color-gray-main: #757575;
$color-shadow: #D2D2D2;
$color-black-active:#383b41;
$color-gray-hover:#DFDFDF;
$color-gray-button:#bdbdbd;

//font-family
$sfui-regular: 'sfuidisplay-regular';
$sfui-heavy: 'sfuidisplay-heavy';
$sfui-medium: 'sfuidisplay-medium';
$sfui-bold: 'sfuidisplay-bold';
$sfui-light: 'sfuidisplay-light';
$fixel-icon: 'icomoon';