/**
 * style.scss
 *
 * This is where global styles should be declared using SCSS
 *
 * Note: 
 *  - 'global-styles.js' also declare global styles but using 'styled-component'.
 *  - Styles declared in 'global-styles.js' will have lower priority than this file.  
 */

@import 'variable';
@import 'font';
@import 'custom';
@import 'animate';
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    font-weight: normal;
}

*:focus {
    outline: none;
}

p,
label {
    font-family: $sfui-regular !important;
}

ul {
    padding: 0;
}

// Focus input need border
input,
button.dropdown-toggle,
.btn-secondary,
.dropdown-toggle.btn-secondary,
textarea.form-control {
    &:not([class*='error']) {
        &:focus,
        &:hover {
            border-color: transparent !important;
            box-shadow: 0 0 0 2px $color-border-focus !important; //no inset for ie
            -webkit-box-shadow: inset 0 0 0 2px $color-border-focus !important;
            -moz-box-shadow: inset 0 0 0 2px $color-border-focus !important;
            /* All the borders by using the spread properties */
            z-index: 1;
        }
    }
}

// Fix some browser have blue border, blue outline
a,
.form-control,
.btn,
button {
    outline: none !important;
    box-shadow: none;
    &:active,
    &:focus,
    &:hover {
        outline: none !important;
        box-shadow: none !important;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.btn,
button {
    &:active,
    &:focus {
        * {
            position: relative;
            top: 0;
            right: 0;
        }
    }
}

img {
    object-fit: cover;
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: ($df-fs/1440*100)*$vw;
    @media(max-width: 767px) {
        font-size:($tablet-fs/767*100)*$vw;
    }
}

body {
    font-family: $sfui-regular;
    height: 100vh;
    font-size: (14/$df-fs)*$rem;
    @media(max-width: 767px) {
        font-size: (36/$tablet-fs)*$rem;
    }
}

#app {
    height: 100%;
    background: #f5f5f5;
}

.fixle-caret[class*='icon-'] {
    color: $color-medium-purple;
    font-size: (8/$df-fs)*$rem;
    float: right;
    line-height: 3;
}

// Fix for MS Edege remove X icon, clear icon input default display
input,
.form-control {
    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}

// Place holder for all browser
input,
textarea.form-control {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: $sfui-regular;
        color: $color-old-lavender !important;
        font-size: (14/$df-fs)*$rem !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: (0.3/$df-fs)*$rem !important;
        opacity: 1 !important;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $sfui-regular;
        color: $color-old-lavender !important;
        font-size: (14/$df-fs)*$rem !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: (0.3/$df-fs)*$rem !important;
        opacity: 1 !important;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        font-family: $sfui-regular;
        color: $color-old-lavender !important;
        font-size: (14/$df-fs)*$rem !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: (0.3/$df-fs)*$rem !important;
        opacity: 1 !important;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-family: $sfui-regular;
        color: $color-old-lavender !important;
        font-size: (14/$df-fs)*$rem !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: (0.3/$df-fs)*$rem !important;
        opacity: 1 !important;
    }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; //Firefox remove spinner
}

// input[type='text'].hide-password {
//     font-family: 'asterisk' !important;
//     font-size: (8/$df-fs)*$rem;
//     letter-spacing: (2/$df-fs)*$rem;
//     &::-webkit-input-placeholder {
//         font-family: $sfui-regular !important;
//         font-size: (14/$df-fs)*$rem !important;
//         letter-spacing: (0.3/$df-fs)*$rem !important;
//         transform: translate(0, (3/$df-fs)*$rem);
//     }
//     &::-moz-placeholder {
//         /* Firefox 19+ */
//         font-family: $sfui-regular !important;
//         font-size: (14/$df-fs)*$rem;
//         letter-spacing: (0.3/$df-fs)*$rem;
//         transform: translate(0, (3/$df-fs)*$rem);
//     }
//     &:-ms-input-placeholder {
//         /* IE 10+ */
//         font-family: $sfui-regular !important;
//         font-size: (14/$df-fs)*$rem;
//         letter-spacing: (0.3/$df-fs)*$rem;
//         transform: translate(0, (3/$df-fs)*$rem);
//     }
//     &:-moz-placeholder {
//         /* Firefox 18- */
//         font-family: $sfui-regular !important;
//         font-size: (14/$df-fs)*$rem;
//         letter-spacing: (0.3/$df-fs)*$rem;
//     }
// }