@import 'app/css/variable';

.service-edit-header {
  .btn-group {
    .btn-ghost {
      min-width: (111/$df-fs)*$rem;
      margin-left: (13/$df-fs)*$rem;

      &.edit-fixle-charge {
        min-width: (170/$df-fs)*$rem;
      }
    }
  }
}

.service-details {
  .service-details-content {
    padding: (24/$df-fs)*$rem;

    > .container-fluid {
      padding: 0; // >.row{
      //     margin-left: (-24/$df-fs)*$rem;
      //     margin-right: (-24/$df-fs)*$rem;
      //     [class*='col'] {
      //         padding-left: (24/$df-fs)*$rem;
      //         padding-right: (24/$df-fs)*$rem;
      //     }
      // }
    }

    > .content {
      margin: 0 (-12/$df-fs)*$rem;

      > .left,
      > .right {
        padding: 0 (12/$df-fs)*$rem;
      }
    }

    .edit {
      color: #917bd5;
      position: absolute;
      right: (24/$df-fs)*$rem;
      top: (24/$df-fs)*$rem;
      cursor: pointer;
    }

    .information {
      background-color: #fff;
      position: relative;
      padding: (24/$df-fs)*$rem;
      margin: 0 0 (24/$df-fs)*$rem;

      .title {
        font-size: (16/$df-fs)*$rem;
        font-family: $sfui-bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #2a2a2c;
      }

      .addition-action {
        padding-right: 0;

        button {
          font-family: $sfui-light;
          font-size: (10/$df-fs)*$rem;
          height: (32/$df-fs)*$rem;
          width: (169/$df-fs)*$rem;
          padding: 0;
        }
      }

      .item-add {
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: (14/$df-fs)*$rem;
      }

      &.service-booking {
        padding: (16/$df-fs)*$rem;

        .service-item {
          position: relative;

          &.service-item-top {
            margin-bottom: (20/$df-fs)*$rem;
          }

          &.service-item-bottom {
            .total {
              position: absolute;
              right: 0;
              bottom: 0;
              text-transform: uppercase;
            }
          }

          .name {
            font-family: $sfui-bold;
            font-size: (16/$df-fs)*$rem;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #2a2a2c;
          }

          .percent {
            font-size: (32/$df-fs)*$rem;
            font-family: $sfui-light;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #212121;
          }

          .total {
            font-size: (9/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            text-align: right;
            color: #2a2a2c;
          }
        }
      }
    }

    .service-info {
      margin: 0 0 (24/$df-fs)*$rem 0;
      background-color: #fff;
      padding-bottom: (32/$df-fs)*$rem;

      & > .row {
        margin-left: (-24/$df-fs)*$rem;
        margin-right: (-24/$df-fs)*$rem;

        [class*='col'] {
          padding-left: (24/$df-fs)*$rem;
          padding-right: (24/$df-fs)*$rem;
        }
      }

      .icon-camera {
        color: #917bd5;
        cursor: pointer;
      }

      .icon-contain {
        top: 0;
      }

      .title {
        font-size: (16/$df-fs)*$rem;
        font-family: $sfui-bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #2a2a2c;
      }

      .details-wrapper {
        .service-icon {
          display: table;
          margin-bottom: (16/$df-fs)*$rem;
          border-radius: 50%;
          border: 1px solid #f5f5f5;

          .icon-wrapper {
            border: 1px solid #eaeaea;
            border-radius: 50%;
            width: (72/$df-fs)*$rem;
            height: (72/$df-fs)*$rem;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }

          .add-icon {
            display: table-cell;
            padding-left: (26/$df-fs)*$rem;
          }
        }

        .left {
          padding-right: (15/$df-fs)*$rem;
        }

        .right {
          padding-left: (36/$df-fs)*$rem;
        }
      }

      .service-background {
        margin: (-24/$df-fs)*$rem 0;
        padding: (24/$df-fs)*$rem 0 (24/$df-fs)*$rem (24/$df-fs)*$rem;
        border-left: solid 1px #e0e0e0;
        background-color: #fff;

        .title {
          margin-bottom: (5/$df-fs)*$rem;
          font-family: $sfui-regular;
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: #757575;
          text-transform: uppercase;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
        }

        .background-container {
          height: (264/$df-fs)*$rem;
          width: (145/$df-fs)*$rem;
          max-width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: (4/$df-fs)*$rem;
          background-color: #fafafa;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          overflow: hidden;

          .background-uploaded {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }

        .upload-background {
          text-align: center;
          font-size: (10/$df-fs)*$rem;
          font-family: $sfui-medium;
          line-height: 3.2;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: #917bd5;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .form-input {
      margin-bottom: (18/$df-fs)*$rem;

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        margin-bottom: (18/$df-fs)*$rem;
      }

      .form-label {
        margin-bottom: (11/$df-fs)*$rem;
      }

      .text-span {
        font-size: (14/$df-fs)*$rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #212121;
      }
    }

    .coupon {
      .item-add {
        padding-bottom: (16/$df-fs)*$rem;

        .label-coupon {
          font-size: (14/$df-fs)*$rem;
          font-family: $sfui-bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: #212121;
          margin-bottom: (13/$df-fs)*$rem;
        }
      }
    }

    .keywords {
      textarea {
        width: 100%;
        height: (128/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        border-radius: (4/$df-fs)*$rem;
        padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
      }
    }

    .list-keywords {
      .item {
        display: inline-block;
        min-width: (65/$df-fs)*$rem;
        padding: (5/$df-fs)*$rem (5/$df-fs)*$rem;
        margin-right: (8/$df-fs)*$rem;
        background-color: #4d3a87;
        font-size: (9/$df-fs)*$rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #ffffff;
        text-align: center;
        border-radius: (4/$df-fs)*$rem;
      }
    }
  }
}