@import "app/css/variable";

.date-picker {
  position: relative;
  width: 100%;

  .react-datepicker {
    font-family: $sfui-regular;
    max-width: 100%;
    border: none;
    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
  }

  .form-input {
    margin-bottom: 0;
  }

  .react-datepicker-popper {
    margin-top: (8/$df-fs)*$rem;
    top: (40/$df-fs)*$rem !important;
    transform: none !important;

    .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__navigation {
      top: (14/$df-fs)*$rem;
      width: (24/$df-fs)*$rem;
      height: (24/$df-fs)*$rem;
      border: none;
      font-family: $fixel-icon !important;
      font-size: (8/$df-fs)*$rem;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 3;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #917bd5;
      border-radius: 50%;
      text-indent: (-99/$df-fs)*$rem;

      &::before {
        text-indent: initial;
      }

      &:hover {
        &:before {
          background-color: rgba(33, 33, 33, 0.2) !important;
        }
      }

      &:active {
        &:before {
          background-color: rgba(33, 33, 33, 0.3) !important;
        }
      }

      &--next {
        right: (28/$df-fs)*$rem;

        &:before {
          content: "\e925";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
        }
      }

      &--previous {
        left: (28/$df-fs)*$rem;

        &:before {
          content: "\e924";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
        }
      }
    }

    .react-datepicker__header {
      padding: (21/$df-fs)*$rem 0 0;
      background-color: #fff;
      border: none;

      .react-datepicker__current-month {
        font-family: $sfui-bold;
        font-size: (14/$df-fs)*$rem;
        line-height: 1.36;
        letter-spacing: (0.3/$df-fs)*$rem;
        color: #212121;
        padding-bottom: (14/$df-fs)*$rem;
      }

      .react-datepicker__day-names {
        color: #757575;
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        font-family: $sfui-regular;
        text-transform: uppercase;

        .react-datepicker__day-name {
          width: (40/$df-fs)*$rem;
          height: (34/$df-fs)*$rem;
          margin: 0;
        }
      }
    }

    .react-datepicker__month {
      margin: 0;
      padding: 0 (6/$df-fs)*$rem (6/$df-fs)*$rem;

      .react-datepicker__week {
        .react-datepicker__day {
          width: (40/$df-fs)*$rem;
          height: (40/$df-fs)*$rem;
          color: #2a2a2c;
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          display: table-cell;
          border-radius: 50%;
          vertical-align: middle;

          &.react-datepicker__day--selected,
          &.react-datepicker__day--keyboard-selected {
            background-color: #917bd5;
            color: #fff; // &.react-datepicker__day--today {
            //     color: #2a2a2c;
            //     background-color: #e0e0e0;
            // }
          }
        }

        .react-datepicker__day--today {
          font-family: $sfui-bold;
        }

        .react-datepicker__day--disabled {
          color: #ccc;
        }
      }
    }
  }

  .react-datepicker-wrapper {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: (40/$df-fs)*$rem;

    .react-datepicker__input-container {
      width: 100%;
      height: (40/$df-fs)*$rem;

      input {
        width: 100%;
        height: (40/$df-fs)*$rem;
      }
    }
  }
}