@import 'app/css/variable';

.payment-details {
  .information {
    .info-item {
      .data {
        &.price {
          font-size: (32/$df-fs)*$rem !important;
        }
      }
    }
  }

  .right-part {
    padding: (24/$df-fs)*$rem 0;
    padding-right: 0;
    background-color: #fff;

    .comment-images {
      margin-bottom: (16/$df-fs)*$rem;

      .label {
        margin-bottom: (5/$df-fs)*$rem;

        span {
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: #757575;
          text-transform: uppercase;
        }
      }

      textarea.form-control {
        color: #212121;
        background-color: $color-snow;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .images {
        .proof-upload-wrapper {
          padding: (16/$df-fs)*$rem (19/$df-fs)*$rem (14/$df-fs)*$rem;
          border: 1px solid #e0e0e0;
          border-bottom-left-radius: (4/$df-fs)*$rem;
          border-bottom-right-radius: (4/$df-fs)*$rem;
          border-top: none;
          margin: 0;
          width: 100%;

          .proof-label {
            display: none;
          }
        }

        .image-frame-wrapper .proof-wrapper .item-proof .icon-cancel {
          color: #212121;
        }
      }
    }

    .note {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid #e0e0e0;

      .submit {
        width: (71/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
        font-size: (10/$df-fs)*$rem;
        letter-spacing: (1.3/$df-fs)*$rem;
        padding: 0;
        line-height: 3.2;
        margin-bottom: 0;
      }
    }

    .bank {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .note-item {
        margin-bottom: (10/$df-fs)*$rem;
      }

      .image-item {

        .image {
          position: relative;

          .bank-image {
            width: (48/$df-fs)*$rem;
            height: (48/$df-fs)*$rem;
            border-radius: (4/$df-fs)*$rem;
          }

          .icon-contain {
            top: (8/$df-fs)*$rem;;
            right: 0;
            bottom: 0;
          }
        }

        .time-owner {
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          text-transform: uppercase;
          margin-top: (14/$df-fs)*$rem;

          .time {
            color: #757575;
          }

          .owner {
            color: #917bd5;
            cursor: pointer;
          }
        }
      }
    }
  }
}