@import 'app/css/variable';

.payment-list {
  .content {
    .avatar-company {
      width: (32/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      border-radius: 50%;
      border: 1px solid #eaeaea;
    }
  }
}