@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?njmad5');
  src:  url('fonts/icomoon.ttf?njmad5') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-violet-check:before {
  content: "\e908";
  color: #917bd5;
}
.icon-violet-camera:before {
  content: "\e901";
  color: #917bd5;
}
.icon-warning:before {
  content: "\e900";
}
.icon-arrow-dropdown:before {
  content: "\e903";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-violet-checkmark:before {
  content: "\e902";
  color: #917bd5;
}
