@import "app/css/variable";
@import 'app/css/mixin';

.notification-wrapper {
  position: absolute;
  top: (24/$df-fs)*$rem;
  right: (24/$df-fs)*$rem;
  z-index: 999;

  .activity-notification {
    display: block;
    position: relative;
    background-color: white;
    width: (358/$df-fs)*$rem;
    border-radius: 4px;
    padding: (24/$df-fs)*$rem (27/$df-fs)*$rem;
    margin-bottom: (24/$df-fs)*$rem;
    box-shadow: 0px 15px 50px 0px $color-shadow;

    .noti-title {
      width: 100%;
      height: (19/$df-fs)*$rem;
      font-size: (14/$df-fs)*$rem;
      font-family: $sfui-bold;
      line-height: 1.36;
      letter-spacing: 0.3px;
      color: #212121;
    }

    .noti-content {
      .btn-close {
        width: (22/$df-fs)*$rem;
        height: (24/$df-fs)*$rem;
        position: absolute;
        top: (15/$df-fs)*$rem;
        right: (15/$df-fs)*$rem;
        font-size: (12/$df-fs)*$rem;
        color: $color-violet;

        &:hover {
          cursor: pointer;
          color: #70619F;
        }

        &:active {
          cursor: pointer;
          color: #70619F;
        }

        &:disabled {
          color: #A59CC2;
        }
      }
    }

    .btn-complete {
      width: (185/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      text-transform: uppercase;
      font-size: (10/$df-fs)*$rem;
      color: $color-white;
      @include padding((9/$df-fs)*$rem 0);
      margin-left: 0;
      margin-top: (17/$df-fs)*$rem;
    }
  }
}
