@import 'app/css/variable';

.statistic-page {
    padding: (24/$df-fs)*$rem;

    .container-fluid {
        padding: 0;
    }

    .row {
        margin: 0 (-12/$df-fs)*$rem;

        [class*='col'] {
            padding: 0 (12/$df-fs)*$rem;
        }
    }

    .information {
        background: #fff;
        border-radius: (4/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        padding: (24/$df-fs)*$rem;
        margin-bottom: (24/$df-fs)*$rem;
        position: relative;
        max-width: 100%;

        .filter-dropdown {
            margin-left: (-8/$df-fs)*$rem;
            margin-right: (-8/$df-fs)*$rem;

            [class*='col'] {
                padding-left: (8/$df-fs)*$rem;
                padding-right: (8/$df-fs)*$rem;
            }
        }

        .title {
            margin-bottom: (24/$df-fs)*$rem;

            span {
                color: #2a2a2c;
                font-family: $sfui-bold;
                font-size: (16/$df-fs)*$rem;
                line-height: 1.31;
            }
        }

        .number-average {
            font-family: $sfui-light;
            font-size: (27/$df-fs)*$rem;
            line-height: 1.2;
            letter-spacing: (0.3/$df-fs)*$rem;
            text-align: right;
            color: #212121;
            margin-bottom: (30/$df-fs)*$rem;

            .natural-part {
                font-size: (48/$df-fs)*$rem;
            }
        }

        .period-dropdown {
            &.dropdown {
                &.show {
                    .fixle-caret {
                        &::before {
                            content: '\e9bc';
                        }
                    }
                }
            }

            .dropdown-menu {
                padding: 0;
                transform: none !important;
                top: 100% !important;
                width: 100%;
                overflow: hidden;
            }

            .btn-secondary {
                width: 100%;
                height: (40/$df-fs)*$rem;
                text-align: left;
                border-color: #e0e0e0;
                background-color: transparent;

                &:active {
                    background-color: #fafafa;
                }
            }

            .title {
                font-size: (9/$df-fs)*$rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.56;
                letter-spacing: (1.3/$df-fs)*$rem;
                color: #2a2a2c;
                text-transform: uppercase; //min-width: (66/$df-fs)*$rem;
                display: inline-block;
                margin: 0;
            }

            .content {
                font-size: (14/$df-fs)*$rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #212121;
                max-width: 50%;
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .dropdown-item {
                padding: 0.93rem;
                cursor: pointer;
                color: #212121;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover,
                &:active {
                    background-color: #f5f5f5;
                }
            }
        }

        .dropdown-group {
            .dropdown {
                display: inline-block;
                width: (192/$df-fs)*$rem;

                &+.dropdown {
                    margin-left: (11/$df-fs)*$rem;
                }
            }
        }

        .chart {
            max-width: 100%;
            width: 100%;
            position: relative;
            margin: auto;

            &.pie-chart {
                width: (264/$df-fs)*$rem;
                margin-bottom: (20/$df-fs)*$rem;
            }

            canvas {
                margin: auto;
                max-width: 100%;
            }
        }
    }

    .row-info {
        .information {
            .dropdown {
                width: (170/$df-fs)*$rem;
            }
        }
    }
}