@import "app/css/variable";

.change-avatar-modal {
  min-width: (516/$df-fs)*$rem;

  .modal-header {
    padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (19/$df-fs)*$rem;
  }

  .modal-title {
    font-family: $sfui-bold;
  }

  .ReactCrop__image {
    max-height: none;
    width: (469/$df-fs)*$rem;
    height: auto;

    object-fit: cover;
  }

  .modal-footer {
    button {
      height: (40/$df-fs)*$rem;
      min-width: (141/$df-fs)*$rem;
    }
  }
}