@import "app/css/variable";

.jobs-list {
  .jobs-list-header {
    .dropdown {
      .btn-secondary {
        min-width: (185/$df-fs)*$rem;
      }

      .dropdown-menu {
        .dropdown-item {
          .label {
            overflow: hidden;
            max-width: (120/$df-fs)*$rem;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .insurance-included {
      .fixle-checkbox-circle {
        .fixle-label {
          text-transform: none;
          font-size: (14/$df-fs)*$rem;
          color: #212121;
        }
      }
    }

    .row-item {
      &:first-child {
        margin-bottom: (17/$df-fs)*$rem;
      }

      .btn-add-purple-round {
        min-width: (129/$df-fs)*$rem;
      }

      .jobs-search {
        input {
          width: (704/$df-fs)*$rem;
        }
      }
    }
  }

  .unread {
    font-family: $sfui-bold !important;
    background-color: #fafafa !important;
  }

  .jobs-management-content {
    .assigned {
      .company {
        display: inline-block;
        margin-right: (8/$df-fs)*$rem; // text-align: center;
        // width: 50%;
      }

      .provider {
        display: inline-block; // text-align: center;
        // width: 50%;
      }

      .undefined {
        text-align: center;
        line-height: (32/$df-fs)*$rem;
        width: (32/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
        margin: auto;

        span {
          vertical-align: bottom;
          font-size: (7/$df-fs)*$rem;
        }
      }
    }
  }

  .jobs-list-footer {
    text-align: left;
  }
}