@import "app/css/variable";

.multi-selection {
    &.dropdown {
        &.show {
            .fixle-caret {
                &::before {
                    content: '\e9bc';
                }
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        margin-top: (5/$df-fs)*$rem;
        transform: none !important;
        top: 100% !important;
        overflow: hidden;
        width: 100%;
        border-radius: (4/$df-fs)*$rem;
        box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
    }

    .btn-secondary {
        min-width: (217/$df-fs)*$rem;
        height: (40/$df-fs)*$rem;
        text-align: left;
        border-color: #e0e0e0;
        border-radius: (4/$df-fs)*$rem;
        background-color: transparent;

        &:focus,
        &:active {
            background-color: #fafafa !important;
        }
    }

    button {
        .title {
            font-size: (9/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #2a2a2c;
            text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
        }

        .label {
            color: #212121;
            vertical-align: middle;
            display: inline-block;
            margin-left: (16/$df-fs)*$rem;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .content {
            color: #212121;
            vertical-align: middle;
            display: inline-block;
            max-width: (100/$df-fs)*$rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .dropdown-header {
        padding: (15/$df-fs)*$rem;
    }

    .dropdown-item {
        padding: (15/$df-fs)*$rem;
        cursor: pointer;
        color: #212121;
        overflow: hidden;
        text-overflow: ellipsis;

        &.disabled {
            cursor: auto;
            text-align: center;
        }

        &.selected {
            background-color: #f5f5f5;
        }

        &:hover {
            background-color: #EEEEEE;
        }

        &:active {
            background-color: #e0e0e0;
            color: #212121;
        }

        .fixle-checkbox-square {
            display: inline-block;

            .fixle-input {
                &:checked {
                    +.fixle-span {
                        &::before {
                            color: #917bd5;
                        }
                    }
                }
            }
        }

        .content {
            display: inline-block;
        }
    }

    .search-bar-dropdown {
        position: relative;

        .form-control {
            padding: (9/$df-fs)*$rem (12/$df-fs)*$rem;
            width: 100%;
        }

        .icon-search {
            color: #917bd5;
            font-size: (16/$df-fs)*$rem;
            position: absolute;
            right: (12/$df-fs)*$rem;
            top: (12/$df-fs)*$rem;
        }
    }
}