@import "app/css/variable";

.modal-wrapper {
  &.popup-wrapper {
    .modal-content {
      width: (352/$df-fs)*$rem;
      padding: (24/$df-fs)*$rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      .popup-contain {
        .popup-title {
          line-height: 1.31;
          letter-spacing: 0.3px;
          color: #2a2a2c;
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          margin-bottom: (11/$df-fs)*$rem;
        }

        .popup-content {
          letter-spacing: 0.3px;
          color: #212121;
          font-size: (14/$df-fs)*$rem;
          font-weight: normal;
          margin-bottom: (27/$df-fs)*$rem;
        }
      }
    }
  }

  .modal-content {
    width: (516/$df-fs)*$rem;
    border-radius: 4px;
    box-shadow: 0 (20/$df-fs)*$rem (40/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: (107/$df-fs)*$rem auto;

    header {
      font-size: (16/$df-fs)*$rem;
      font-family: $sfui-bold;
      line-height: 1.31;
      letter-spacing: 0.3px;
      color: #2a2a2c;
      border-bottom: solid 1px #e0e0e0;
      padding: (24/$df-fs)*$rem;
      //border-radius: 4px;
    }

    .children-wrapper {
      padding: (16/$df-fs)*$rem (23/$df-fs)*$rem (19/$df-fs)*$rem (24/$df-fs)*$rem;
      position: relative;
    }

    footer {
      text-align: right;
      padding: (16/$df-fs)*$rem (23/$df-fs)*$rem;
      border-top: solid 1px #e0e0e0;
    }
  }

  &.loading-wrapper {
    .modal-content {
      width: 4%;
      background: none;
      border: none;
      box-shadow: none;
      margin-top: 40%;
    }
  }
}
