@import 'app/css/variable';

.team-management {
  .header-list-page {
    .search-bar {
      .form-control {
        min-width: (217/$df-fs)*$rem;
      }
    }

    .selection-wrapper {
      min-width: (217/$df-fs)*$rem;
      margin-bottom: 0;

      .f-select-container {
        .f-select__control {
          padding-left: 26%;
        }
      }
    }

    .single-selection {
      .prefix {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;;
        color: #2a2a2c;
        text-transform: uppercase;
      }
    }

    .form-input {
      margin-bottom: 0;
    }
  }

  .member-list-footer {
    text-align: left;

    button {
      margin-left: (12/$df-fs)*$rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}