@import "app/css/variable";

.reset-password {
  .body {
    .title {
      font-size: (16/$df-fs)*$rem;
      line-height: 1.31;
      letter-spacing: (0.3/$df-fs)*$rem;
      color: #2a2a2c
    }

    .recent-password,
    .new-password {
      border-radius: (4/$df-fs)*$rem;
      border: solid 1px #e0e0e0;
      background-color: rgb(255, 255, 255);

      .forgot-password {
        color: #917bd5;
        font-size: (10/$df-fs)*$rem;
        text-transform: uppercase;
        float: right; //line-height: 3.2;
        letter-spacing: (1.3/$df-fs)*$rem;
        padding: 0 (14/$df-fs)*$rem;
        margin-top: (-6/$df-fs)*$rem;
        cursor: pointer;
      }
    }

    .recent-password {
      padding: (24/$df-fs)*$rem (26/$df-fs)*$rem (24/$df-fs)*$rem (23/$df-fs)*$rem;
      margin-bottom: (24/$df-fs)*$rem;
    }

    .new-password {
      padding: (24/$df-fs)*$rem (26/$df-fs)*$rem (24/$df-fs)*$rem (23/$df-fs)*$rem;
    }

    .information {
      .right {
        .input-group {
          margin-bottom: (24/$df-fs)*$rem;

          .form-label {
            margin-bottom: (2/$df-fs)*$rem;
          }
        }
      }

      &.new-password {
        .right {
          .input-group {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .footer {
    padding: (8/$df-fs)*$rem (24/$df-fs)*$rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;
    background-color: #ffffff;
    border-top: solid 1px #e0e0e0;

    button {
      width: (140/$df-fs)*$rem;
      height: (40/$df-fs)*$rem;

      &:first-child {
        margin-right: (12/$df-fs)*$rem;
      }

      &.btn-login {
        margin: 0;
      }
    }
  }
}

.forgot-password-modal {
  max-width: (352/$df-fs)*$rem;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%) !important;

  .title {
    color: #2a2a2c;
    margin-bottom: (11/$df-fs)*$rem;
    font-size: (16/$df-fs)*$rem;
    font-family: $sfui-bold;
    line-height: 1.36;
    letter-spacing: (0.3/$df-fs)*$rem;
  }

  .description {
    margin-bottom: (11/$df-fs)*$rem;

    span {
      font-size: (14/$df-fs)*$rem;
      color: #212121;
      line-height: 1.36;
      letter-spacing: (0.3/$df-fs)*$rem;
    }
  }

  .input-group.form-input {
    margin-bottom: 0;
  }

  .modal-body {
    .lower {
      margin-top: (16/$df-fs)*$rem;
    }
  }
}