@import 'app/css/variable';

.company-details {
  height: 100%;
  background-color: #f5f5f5;

  .company-info {
    .right {
      padding-left: (36/$df-fs)*$rem;
    }
  }

  .content {
    .left-part {
      padding: (24/$df-fs)*$rem;
    }

    .right-part {
      &.activities {
        padding: 0;
        background-color: #fff;
        position: relative;
        overflow: hidden;

        .information {
          padding: (28/$df-fs)*$rem (24/$df-fs)*$rem;
          background-color: transparent;
        }
      }

      &.notes {
        border: none;
        padding: (24/$df-fs)*$rem (24/$df-fs)*$rem 0 0;

        .information {
          padding-bottom: 0;
          border: 1px solid #e0e0e0;
          border-radius: (4/$df-fs)*$rem;

          > .title {
            font-family: $sfui-bold;
            line-height: 1.31;
            margin-bottom: (10/$df-fs)*$rem;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #2a2a2c;
          }
        }

        .new-note {
          margin-bottom: (16/$df-fs)*$rem;

          .fixle-textarea-counter {
            margin-bottom: (16/$df-fs)*$rem;

            .title {
              text-transform: uppercase;
              font-size: (9/$df-fs)*$rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.56;
              letter-spacing: (1.3/$df-fs)*$rem;
              color: #757575;
            }
          }

          .btn-purple-round {
            width: (71/$df-fs)*$rem;
            height: (32/$df-fs)*$rem;
            padding: (10/$df-fs)*$rem;
            font-family: $sfui-medium;
            font-size: 10px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: (1.3/$df-fs)*$rem;
            text-align: center;
            color: #ffffff;
          }
        }

        .list-old-note {
          .item-note {
            padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
            border-top: 1px solid #e0e0e0;
            margin: 0 (-24/$df-fs)*$rem;

            :last-child {
              border-top: none;
            }

            .content {
              white-space: pre-line;
              font-size: (14/$df-fs)*$rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.36;
              letter-spacing: (0.3/$df-fs)*$rem;
              margin-bottom: (7/$df-fs)*$rem;
              color: #212121;
            }

            .create {
              text-transform: uppercase;
              font-size: 9px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.56;
              letter-spacing: (1.3/$df-fs)*$rem;
              color: #757575;
            }

            .purple-color {
              color: #917bd5;
            }

            .remove {
              color: #917bd5;
              cursor: pointer;
            }
          }
        }
      }
    }

    .information {
      background: #fff;
      padding: (24/$df-fs)*$rem;
      margin-bottom: (24/$df-fs)*$rem;
      position: relative;

      .title {
        font-family: $sfui-bold;

        span {
          color: #2a2a2c;
          font-size: (16/$df-fs)*$rem;
          line-height: 1.31;
          letter-spacing: (0.3/$df-fs)*$rem;
        }
      }

      .right {
        .company-logo {
          margin-bottom: (8/$df-fs)*$rem;
          text-align: center;

          img {
            display: table-cell;
            width: (72/$df-fs)*$rem;
            height: (72/$df-fs)*$rem;
            border-radius: 50%;
            border: 1px solid #e0e0e0;
          }
        }

        .details {
          .info-item {
            margin-bottom: (16/$df-fs)*$rem;
            word-break: break-word;

            &:last-child {
              margin-bottom: 0;
            }

            .title {
              margin-bottom: (11/$df-fs)*$rem;

              span {
                margin-bottom: (11/$df-fs)*$rem;
                font-size: (9/$df-fs)*$rem;
                line-height: 1.56;
                letter-spacing: (0.3/$df-fs)*$rem;
                color: #757575;
                text-transform: uppercase;
              }
            }

            .data {
              font-size: (14/$df-fs)*$rem;
              line-height: 1.36;
              letter-spacing: (0.3/$df-fs)*$rem;
              color: #212121;
            }
          }
        }
      }

      .edit {
        color: #917bd5;
        font-size: (14/$df-fs)*$rem;
        position: absolute;
        right: (24/$df-fs)*$rem;
        top: (24/$df-fs)*$rem;
      }

      .bank-item + .bank-item {
        border-top: 1px solid #e0e0e0;
      }
    }

    .list {
      margin: 0 (-24/$df-fs)*$rem (-24/$df-fs)*$rem;

      table {
        width: 100%;

        .title {
          tr {
            border-bottom: 1px solid #e0e0e0;

            td {
              padding: (16/$df-fs)*$rem 0;

              &:first-child {
                padding-left: (28/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (26/$df-fs)*$rem;
                text-align: right;
              }

              span {
                font-size: (10/$df-fs)*$rem;
                line-height: 1.6;
                letter-spacing: (1.3/$df-fs)*$rem;
                color: #9e9e9e;
                text-transform: uppercase;
              }

              img {
                cursor: pointer;
              }
            }
          }

          .certifications {
            width: (214/$df-fs)*$rem;
          }
        }

        .content {
          font-size: (14/$df-fs)*$rem;
          line-height: 1.36;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: #212121;

          tr {
            border-bottom: 1px solid #e0e0e0;

            &:last-child {
              border-bottom: none;
            }

            td {
              padding: (23/$df-fs)*$rem 0;
              font-size: (14/$df-fs)*$rem;
              line-height: 1.36;

              &:first-child {
                font-family: $sfui-bold;
                padding-left: (32/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (26/$df-fs)*$rem;
                text-align: right;
              }

              &.company-name {
                img {
                  width: (32/$df-fs)*$rem;
                  border-radius: 50%;
                  border: 1px solid #eeeeee;
                  margin-right: (16/$df-fs)*$rem;
                }
              }

              &.status {
                .content {
                  text-align: center;
                  padding: (5/$df-fs)*$rem 0;
                  background-color: #4d3a87;
                  border-radius: (4/$df-fs)*$rem;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: (9/$df-fs)*$rem;
                  line-height: 1.56;
                  letter-spacing: (1.3/$df-fs)*$rem;
                }
              }

              &.action {
                .edit-dropdown {
                  .btn-secondary {
                    padding: 0 (5/$df-fs)*$rem;
                    height: (32/$df-fs)*$rem;
                    border-radius: 50%;
                    background-color: inherit;
                    border: none;
                    box-shadow: none !important;

                    &:focus {
                      background-color: #e0e0e0;
                      outline: 0;
                    }

                    &:active {
                      background-color: #e0e0e0;
                    }
                  }

                  .dropdown-menu {
                    left: (-24/$df-fs)*$rem !important;
                    top: (4/$df-fs)*$rem !important;
                    padding: 0;
                    border-radius: (4/$df-fs)*$rem;
                    width: (194/$df-fs)*$rem;
                    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
                    border: 1px solid #f5f5f5;

                    .dropdown-item {
                      padding: (16/$df-fs)*$rem;
                      cursor: pointer;

                      &:last-child {
                        &:hover {
                          background-color: #f5f5f5;
                          border-top: 1px solid #e0e0e0;
                          border-bottom: none;
                        }
                      }

                      &:hover {
                        background-color: #f5f5f5;
                        border-bottom: 1px solid #e0e0e0;
                      }
                    }
                  }
                }
              }
            }

            &.selected {
              background-color: #f5f5f5;
            }
          }
        }
      }

      &.table-lisence {
        .content {
          vertical-align: top;

          .column-img {
            .fixle-list-image-overflow {
              margin-top: (-7/$df-fs)*$rem;
            }
          }
        }

        td {
          &:last-child {
            text-align: left !important;
          }
        }
      }

      &.list-services-approval {
        margin: 0 0 (-16/$df-fs)*$rem 0;

        .item-service {
          display: inline-block;
          background-color: #fafafa;
          border-radius: (4/$df-fs)*$rem;
          border: 1px solid #e0e0e0;
          width: (184/$df-fs)*$rem;
          height: (48/$df-fs)*$rem;
          max-width: (184/$df-fs)*$rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: (12/$df-fs)*$rem;
          margin-right: (18/$df-fs)*$rem;
          margin-bottom: (16/$df-fs)*$rem;
          overflow: hidden;

          .logo-service {
            width: (24/$df-fs)*$rem;
            height: (24/$df-fs)*$rem;
            margin-right: (12/$df-fs)*$rem;
            border-radius: 50%;
          }

          .name-service {
            font-size: (14/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #212121;
          }
        }
      }
    }
  }

  //tab employee
  .employees {
    position: relative;

    .header-list-page {
      padding-top: (16/$df-fs)*$rem;

      .search-bar {
        > .form-control {
          min-width: (217/$df-fs)*$rem;
        }
      }
    }

    .avatar-employee {
      border-radius: 50%;
    }

    .content-list-page {
      [class^="icon-"],
      [class*=" icon-"] {
        color: #917bd5;
      }
    }
  }

  //jobs tab
  .jobs {
    .header-list-page {
      .search-bar {
        > .form-control {
          min-width: (217/$df-fs)*$rem;
        }
      }
    }
  }

  //tab earning
  .earning-tab {
    padding: (24/$df-fs)*$rem (218/$df-fs)*$rem;

    .title {
      font-family: $sfui-bold;
    }

    .earning-balance {
      .value {
        font-family: $sfui-light;
        font-size: (32/$df-fs)*$rem;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: (0.3/$df-fs)*$rem;
        text-align: right;
        color: #212121;
      }
    }

    .earning-history {
      .title {
        margin-bottom: (19/$df-fs)*$rem;
      }

      .table-fixle {
        border-top: 1px solid #e0e0e0;
        margin: 0 (-24/$df-fs)*$rem;

        tr {
          th,
          td {
            &:last-child {
              padding-right: (20/$df-fs)*$rem;
            }

            padding-left: (24/$df-fs)*$rem;
            padding-right: (3/$df-fs)*$rem;
          }
        }

        .description {
          font-family: $sfui-bold;
        }
      }
    }
  }

  .role {
    text-transform: capitalize;
  }
}