@import 'app/css/variable';

$heithtemp: (153/$df-fs)*$rem;
$heithtemp-2: (129/$df-fs)*$rem;

.job-details {
    .header-edit-add-page {
        .title {
            margin-bottom: (16/$df-fs)*$rem;
        }
    }

    .tab {
        border: none;

        .tab-item {
            display: inline-block;
            text-align: center;
            width: (230/$df-fs)*$rem;
            cursor: pointer;

            span {
                color: #757575;
                font-size: (10/$df-fs)*$rem;
                line-height: 3.2;
                letter-spacing: (1.3/$df-fs)*$rem;
                text-transform: uppercase;
            }

            .nav-link {
                padding: 0;
                line-height: 1;
            }

            .selected {
                border-bottom: 1px solid #212121;

                span {
                    color: #212121;
                }
            }
        }
    }

    .overview {
        .left {
            padding-left: 0;
            padding-right: (8/$df-fs)*$rem;

            .information {
                min-height: calc(100vh - #{$heithtemp-2});
                background: #fff;
                border-radius: (4/$df-fs)*$rem;
                border: 1px solid #e0e0e0;
                border-bottom: none;
                position: relative;

                .object-info {
                    padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (16/$df-fs)*$rem;
                    position: relative;
                    border-bottom: 1px #e0e0e0 solid;
                }

                .title {
                    margin-bottom: (11/$df-fs)*$rem;
                    font-family: $sfui-bold;
                    color: #2a2a2c;
                    font-size: (16/$df-fs)*$rem;
                    line-height: 1.31;
                    letter-spacing: (0.3/$df-fs)*$rem;
                }

                .data {
                    .info-right {
                        padding-left: 0;
                    }

                    .present-image {
                        img {
                            width: (56/$df-fs)*$rem;
                            height: (56/$df-fs)*$rem;
                            border-radius: 50%;
                            border: 1px solid #e0e0e0;
                        }
                    }

                    .info-item {
                        margin-bottom: (19/$df-fs)*$rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .label {
                            margin-bottom: (11/$df-fs)*$rem;
                            font-size: (9/$df-fs)*$rem;
                            line-height: 1.56;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            color: #757575;
                            text-transform: uppercase;
                        }

                        .details {
                            font-size: (14/$df-fs)*$rem;
                            line-height: 1.36;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            color: #212121;
                        }
                    }
                }

                .view-profile {
                    color: #917bd5;
                    font-size: (10/$df-fs)*$rem;
                    font-family: $sfui-medium;
                    line-height: 3.2;
                    letter-spacing: (1.3/$df-fs)*$rem;
                    text-transform: uppercase;
                    position: absolute;
                    top: (22/$df-fs)*$rem;
                    right: (28/$df-fs)*$rem;
                    cursor: pointer;

                    &:hover {
                        color: #625a87;
                    }
                }
            }
        }

        .right {
            padding: (24/$df-fs)*$rem;
            padding-left: (16/$df-fs)*$rem;

            .information {
                background: #fff;
                border-radius: (4/$df-fs)*$rem;
                border: 1px solid #e0e0e0;
                position: relative;
                margin-bottom: (24/$df-fs)*$rem;

                .title {
                    margin-bottom: (19/$df-fs)*$rem;
                    font-family: $sfui-bold;
                    color: #2a2a2c;
                    font-size: (16/$df-fs)*$rem;
                    line-height: 1.31;
                    letter-spacing: (0.3/$df-fs)*$rem;
                }

                .data {
                    .info-item {
                        margin-bottom: (22/$df-fs)*$rem;

                        .label {
                            margin-bottom: (11/$df-fs)*$rem;
                            font-size: (9/$df-fs)*$rem;
                            line-height: 1.56;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            color: #757575;
                            text-transform: uppercase;
                        }

                        .details {
                            font-size: (14/$df-fs)*$rem;
                            line-height: 1.36;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            color: #212121;

                            .image-list {
                                margin-top: (16/$df-fs)*$rem;

                                img {
                                    width: (63/$df-fs)*$rem;
                                    height: (63/$df-fs)*$rem;
                                    object-fit: cover;
                                    border-radius: (4/$df-fs)*$rem;
                                    border: 1px solid #e0e0e0;
                                    margin-right: (8/$df-fs)*$rem;
                                }
                            }

                            .time {
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                .icon-contain {
                    top: (24/$df-fs)*$rem;
                    right: (24/$df-fs)*$rem;
                }
            }

            .job-status {
                padding: (24/$df-fs)*$rem 0 (18/$df-fs)*$rem;

                .status-item {
                    text-align: center;
                    color: #757575;
                    display: inline-block;
                    width: 20%;
                    position: relative;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 50%;
                        top: (8/$df-fs)*$rem;
                        border-top: 1px solid #e0e0e0; // width: (54/$df-fs)*$rem;
                        z-index: 1;
                    }

                    &::before {
                        left: 0;
                    }

                    &::after {
                        //left: 50%;
                        right: 0;
                    }

                    &:first-child {
                        &::before {
                            opacity: 0;
                        }
                    }

                    &:last-child {
                        &::after {
                            opacity: 0;
                        }
                    }

                    &.active {
                        color: #2a2a2c;
                    }

                    .icon {
                        font-size: (20/$df-fs)*$rem;
                        z-index: 1000;
                        padding: 0 (8/$df-fs)*$rem;
                        background-color: #ffffff;
                        position: relative;
                    }

                    .status-title {
                        font-size: (9/$df-fs)*$rem;
                        text-transform: uppercase;
                        line-height: 1.56;
                        letter-spacing: (1.3/$df-fs)*$rem;
                    }
                }
            }

            .description-and-estimate {
                .col-md-6 {
                    &:first-child {
                        padding-left: 0;
                        padding-right: (9/$df-fs)*$rem;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }

                .description-info {
                    padding: (24/$df-fs)*$rem;
                    margin-bottom: 0; // .icon-edit {
                    //     position: absolute;
                    //     top: (24/$df-fs)*$rem;
                    //     right: (24/$df-fs)*$rem;
                    //     color: #917bd5;
                    // }
                }

                .estimate-info {
                    margin-bottom: 0;

                    .charges {
                        padding: (24/$df-fs)*$rem (18/$df-fs)*$rem;
                        border-bottom: 1px solid #e0e0e0;

                        .charge-fee {
                            padding: (14/$df-fs)*$rem 0;

                            .name {
                                font-size: (14/$df-fs)*$rem;
                                line-height: 1.36;
                                letter-spacing: (0.3/$df-fs)*$rem;
                            }

                            .price {
                                font-size: (16/$df-fs)*$rem;
                                font-family: $sfui-bold;
                                line-height: 1.31;
                                letter-spacing: (0.3/$df-fs)*$rem;
                                float: right;
                                color: #2a2a2c;
                            }
                        }
                    }

                    .total,
                    .deposit {
                        padding: (14/$df-fs)*$rem (18/$df-fs)*$rem;
                        line-height: (27/$df-fs)*$rem;

                        .name {
                            font-size: (14/$df-fs)*$rem;
                            font-family: $sfui-bold;
                            line-height: 1.36;
                            letter-spacing: (0.3/$df-fs)*$rem;
                        }

                        .price {
                            font-size: (20/$df-fs)*$rem;
                            font-family: $sfui-bold;
                            line-height: 1.31;
                            letter-spacing: (0.3/$df-fs)*$rem;
                            float: right;
                            color: #2a2a2c;
                        }
                    }

                    .deposit {
                        border-bottom: 1px solid #e0e0e0;
                    }
                }
            }
        }
    }

    .activities {
        .activities-content {
            padding-bottom: 0;
            padding-left: (217/$df-fs)*$rem;
            padding-right: (217/$df-fs)*$rem;
            position: relative;

            .information {
                min-height: calc(100vh - #{$heithtemp});
                margin-bottom: 0;
                padding: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: (38/$df-fs)*$rem;
                    left: (220/$df-fs)*$rem;
                    bottom: 0;
                    width: 2px;
                    background: #eeeeee;
                }
            }
        }

        .time-line {
            position: relative;
            overflow: hidden;

            .date {
                margin-left: 0;
                margin-right: 0;
                padding: (25/$df-fs)*$rem (22/$df-fs)*$rem 0;

                .left {
                    width: 10%;
                    max-width: 10%;
                    padding: 0;

                    .title {
                        span {
                            font-family: $sfui-bold;
                            color: #212121;
                            font-size: (14/$df-fs)*$rem;
                            line-height: 1.36;
                            letter-spacing: (0.3/$df-fs)*$rem;
                        }
                    }
                }

                .right {
                    padding: 0;
                    padding-left: (18/$df-fs)*$rem;
                }
            }
        }

        .activity-item {
            margin-bottom: (15/$df-fs)*$rem;
            display: table;
            width: 100%;

            .time-cell {
                display: table-cell;
                width: (92/$df-fs)*$rem;
                text-align: right;
                vertical-align: top;
                padding-right: (14/$df-fs)*$rem;
                padding-top: (6/$df-fs)*$rem;
                white-space: nowrap;

                .time {
                    display: inline-block;

                    span {
                        color: #757575;
                        font-size: (9/$df-fs)*$rem;
                        line-height: 1.56;
                        letter-spacing: (1.3/$df-fs)*$rem;
                    }
                }
            }

            .icon-cell {
                display: table-cell;
                text-align: center;
                width: 1%;

                span {
                    display: inline-block;
                    color: #fff;
                    line-height: (38/$df-fs)*$rem;
                    background-color: #4d3a87;
                    border-radius: 50%;
                    width: (40/$df-fs)*$rem;
                    height: (40/$df-fs)*$rem;

                    &::before {
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }

            .activity-details {
                display: table-cell;
                vertical-align: top;

                .text {
                    padding-left: (14/$df-fs)*$rem;

                    .activity-type {
                        font-size: (9/$df-fs)*$rem;
                        line-height: 1.56;
                        letter-spacing: (1.3/$df-fs)*$rem;
                        text-transform: uppercase;
                        color: #757575;
                    }

                    .activity-content {
                        .text-content {
                            color: #212121;

                            span {
                                font-size: (14/$df-fs)*$rem;
                                line-height: 1.36;
                                letter-spacing: (0.3/$df-fs)*$rem;

                                &.highlight {
                                    color: #917bd5;
                                    cursor: pointer;
                                }
                            }
                        }

                        .action-content {
                            margin-top: (9/$df-fs)*$rem;

                            &.modify-job {
                                button {
                                    margin-right: (8/$df-fs)*$rem;
                                    line-height: 1;
                                    font-family: $sfui-medium;
                                }
                            }
                        }
                    }
                }
            }
        }

        //tab activities
    }
}

.canceljob-modal {
    top: 50%;
    transform: translate(0, -50%) !important;
    margin: 0 auto;

    .label {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
        margin-bottom: (8/$df-fs)*$rem;
        margin-top: (16/$df-fs)*$rem;
    }
}