@import 'app/css/variable';

.fixle-checkbox-square {
  label {
    margin: 0;
  }

  .fixle-input {
    display: none;

    + .fixle-span {
      cursor: pointer;
      line-height: 1;
      vertical-align: middle;

      &::before {
        content: '\e9ae';
        color: #212121;
        font-family: $fixel-icon !important;
        speak: none;
        font-style: normal;
        font-size: (16/$df-fs)*$rem;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &:checked {
      + .fixle-span {
        &::before {
          content: '\e9af';
        }
      }
    }

    &:disabled {
      + .fixle-span {
        background: rgba(0, 0, 0, .35);
      }
    }
  }
}