@import "app/css/variable";

.modal-wrapper {
  font-family: $sfui-regular;

  .modal-dialog {
    max-width: (516/$df-fs)*$rem;
    @media screen and (min-width: 1920px) {
      margin: (-50/$df-fs)*$rem auto;
    }
  }

  &.popup-wrapper {
    &.popup-proof {
      .modal-dialog {
        position: static;
        transform: translateX(0) translateY(0) !important;
      }
    }

    .modal-dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) !important;
    }

    .modal-content {
      width: (352/$df-fs)*$rem; //padding: (24/$df-fs)*$rem (23/$df-fs)*$rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      .popup-contain {
        .popup-title {
          line-height: 1.31;
          letter-spacing: 0.3px;
          color: #2a2a2c;
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          margin-bottom: (11/$df-fs)*$rem;
        }

        .popup-content {
          letter-spacing: 0.3px;
          color: #212121;
          font-size: (14/$df-fs)*$rem;
          font-weight: normal;
          margin-bottom: (16/$df-fs)*$rem;
          word-break: break-word;
        }

        .forgot-style {
          width: unset;
          margin-bottom: (15/$df-fs)*$rem;
          padding-left: (10/$df-fs)*$rem;
        }

        .btn-popup {
          &:last-child {
            margin-left: (20/$df-fs)*$rem;
          }
        }
      }

      .modal-body {
        padding: (24/$df-fs)*$rem;
      }
    }
  }

  .modal-content {
    width: (516/$df-fs)*$rem;
    border-radius: 4px;
    box-shadow: 0 (20/$df-fs)*$rem (40/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    margin: (107/$df-fs)*$rem auto;

    header {
      font-size: (16/$df-fs)*$rem;
      font-family: $sfui-bold;
      line-height: 1.31;
      letter-spacing: 0.3px;
      color: #2a2a2c;
      border-bottom: solid 1px #e0e0e0;
      padding: (24/$df-fs)*$rem; //border-radius: 4px;
    }

    .children-wrapper {
      padding: (16/$df-fs)*$rem (23/$df-fs)*$rem (19/$df-fs)*$rem (24/$df-fs)*$rem;
      position: relative;
    }

    footer {
      text-align: right;
      padding: (16/$df-fs)*$rem (23/$df-fs)*$rem;
      border-top: solid 1px #e0e0e0;
    }

    .error-btn {
      color: #fff;
      font-family: $sfui-regular;
      font-weight: 500;
      background-color: #D976D0;
      width: 100%;
      margin-left: 0 !important;

      &:hover {
        background-color: #F38EE9;
      }

      &:focus,
      &:active {
        background-color: #BF5EB7;
      }

      &:disabled {
        background: #b8796a;
      }
    }
  }

  &.loading-wrapper {
    .modal-content {
      width: 4%;
      background: none;
      border: none;
      box-shadow: none;
      margin-top: 40%;
    }
  }

  &.fade {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.modal-earning {
    .modal-content {
      width: (352/$df-fs)*$rem;

      .modal-body {
        padding: 0;
      }

      .popup-container {
        .popup-title {
          padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (19/$df-fs)*$rem (24/$df-fs)*$rem;
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          line-height: 1.31;
          letter-spacing: 0.3;
          color: $color-lighter-chocolate;
        }

        .form-group {
          padding: 0 (24/$df-fs)*$rem 0 (24/$df-fs)*$rem;

          input[type="text"] {
            color: $color-chocolate;
          }
        }

        .balance {
          display: table;
          width: 100%;
          padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
          border-top: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;

          .label-balance,
          .balance-content {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            line-height: 1.36;
            letter-spacing: 0.3px;
            color: $color-chocolate;
          }

          .label-balance {
            span {
              font-family: $sfui-bold;
            }
          }

          .balance-content {
            text-align: right;
            font-family: $sfui-heavy;

            a {
              font-size: (10/$df-fs)*$rem;
              font-family: $sfui-bold;
              line-height: 3.2;
              letter-spacing: 1.3px;
              color: $color-violet;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }

        .popup-detail {
          padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: 1.3px;
          color: #757575;
          text-transform: uppercase;

          a {
            color: #917bd5;
            text-decoration: none;
          }
        }

        .popup-button {
          padding: (16/$df-fs)*$rem (24/$df-fs)*$rem (28/$df-fs)*$rem (24/$df-fs)*$rem;
          border-top: 1px solid #e0e0e0;

          .btn-cancel {
            margin-left: 0;
            margin-right: (22/$df-fs)*$rem;
          }

          .btn-next {
            width: (140/$df-fs)*$rem;
          }

          .btn-cancel,
          .btn-next {
            font-size: (12/$df-fs)*$rem;
            line-height: 1.17;
            letter-spacing: 1.6px;
          }
        }
      }
    }
  }
}