@import 'app/css/variable';

.estimate-confirm-modal {
  .modal-body {
    padding: 0;

    .upper {
      padding: (24/$df-fs)*$rem;
      border-bottom: 1px solid #e0e0e0;
    }

    .lower {
      padding: (24/$df-fs)*$rem;
      margin: 0;
    }

    .estimate {
      padding: (16/$df-fs)*$rem (17/$df-fs)*$rem;

      .charge-item {
        margin-top: (14/$df-fs)*$rem;
      }
    }

    .name {
      font-size: (14/$df-fs)*$rem;
      line-height: 1.36;
      letter-spacing: (0.3/$df-fs)*$rem;
    }

    .price {
      font-size: (16/$df-fs)*$rem;
      font-family: $sfui-bold;
      line-height: 1.31;
      letter-spacing: (0.3/$df-fs)*$rem;
      float: right;
    }

    .total,
    .deposit {
      padding: (16/$df-fs)*$rem (17/$df-fs)*$rem;
      border-bottom: 1px solid #e0e0e0;
      font-family: $sfui-bold;

      .name {
        font-family: $sfui-bold;
      }
    }
  }
}