@import "app/css/variable";

.single-selection {
    &.dropdown {
        .btn-secondary {
            background-color: transparent;
            color: #212121 !important;
            min-width: (217/$df-fs)*$rem;
            height: (40/$df-fs)*$rem;
            text-align: left;
            border-color: #e0e0e0;
            border-radius: (4/$df-fs)*$rem;

            &:focus,
            &:active {
                background-color: #fafafa !important;
            }
        }

        &.show {
            .fixle-caret {
                &::before {
                    content: "\e9bc";
                }
            }
        }

        .dropdown-menu {
            padding: 0;
            margin-top: (5/$df-fs)*$rem;
            border-radius: (4/$df-fs)*$rem;
            transform: none !important;
            width: 100%;
            top: 100% !important;
            overflow: hidden;
            box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
        }
    }

    button {
        .title {
            display: inline-block;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
            color: #212121;
        }

        .label {
            color: #212121;
            vertical-align: middle;
            display: inline-block;
            margin-left: (16/$df-fs)*$rem;
            white-space: nowrap;
        }

        .content {
            color: #212121;
            vertical-align: middle;
            display: inline-block;
            max-width: (110/$df-fs)*$rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .dropdown-item {
        cursor: pointer;
        padding-top: (12/$df-fs)*$rem;
        padding-bottom: (12/$df-fs)*$rem;
        border-bottom: 1px solid #e0e0e0;
        overflow: hidden;
        text-overflow: ellipsis;

        &:last-child {
            border-bottom: none;
        }

        &.disabled {
            cursor: auto;
            text-align: center;
        }

        &.selected {
            background-color: #f5f5f5;
        }

        &:hover {
            background-color: #EEEEEE;
        }

        &:active {
            background-color: #e0e0e0;
            color: #212121;
        }

        .fixle-checkbox-circle {
            display: inline-block;
            margin-left: 0;

            .fixle-input {
                &:checked {
                    +.fixle-span {
                        &::before {
                            color: #917bd5;
                        }
                    }
                }
            }
        }

        .content {
            display: inline-block;
        }

        img {
            display: inline-block;
            width: (24/$df-fs)*$rem;
            height: (24/$df-fs)*$rem;
            border-radius: 50%;
        }

        .label {
            width: 55%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
    }

    .search-bar-dropdown {
        position: relative;

        .form-control {
            padding: (9/$df-fs)*$rem (12/$df-fs)*$rem;
            width: 100%;
        }

        .icon-search {
            color: #917bd5;
            font-size: (16/$df-fs)*$rem;
            position: absolute;
            right: (12/$df-fs)*$rem;
            top: (12/$df-fs)*$rem;
        }
    }
}