@import 'app/css/variable';

.time-picker {
  .react-datepicker-wrapper {
    width: 100%;

    .react-datepicker__input-container {
      width: 100%;

      .react-datepicker-ignore-onclickoutside {
        width: 100%;
      }
    }
  }

  .react-datepicker-popper {
    width: 100%;

    .react-datepicker {
      width: 100%;

      .react-datepicker__time-container {
        width: 100%;

        .react-datepicker__header {
          display: none;
        }

        .react-datepicker__time {
          .react-datepicker__time-box {
            width: 100%;
          }
        }
      }
    }
  }
}