@import "app/css/variable";

.fixle-textarea-counter {
  position: relative;

  textarea {
    background-color: #fafafa;
    width: 100%;
    min-width: (144/$df-fs)*$rem;
    font-size: (14/$df-fs)*$rem;
    padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
    resize: none;
    border: 1px solid #e0e0e0;
    border-radius: (4/$df-fs)*$rem;

    &:focus,
    &:active {
      background-color: #fafafa;
    }
  }

  .counter {
    font-size: (9/$df-fs)*$rem;
    color: #757575;
    line-height: 1.56;
    letter-spacing: (1.3/$df-fs)*$rem;
    padding: (1/$df-fs)*$rem (9.5/$df-fs)*$rem;
    position: absolute;
    right: (8/$df-fs)*$rem;
    bottom: (9/$df-fs)*$rem;
    background-color: #eeeeee;
    border-radius: (4/$df-fs)*$rem;
  }
}