@import "app/css/variable";

.form-group-content {
  width: (352/$df-fs)*$rem;
  background-color: $color-white;
  border-radius: (4/$df-fs)*$rem;
  border: solid 1px $color-lightest-grey;
  position: absolute;
  top: (112/$df-fs)*$rem;
  right: 0;
  left: 0;
  margin: auto;
  padding: (24/$df-fs)*$rem 0 0;
  text-align: center;

  &.more-padding {
    padding-bottom: (16/$df-fs)*$rem;
  }

  .form-group-title {
    width: (72/$df-fs)*$rem;
    height: auto;
    margin-bottom: (27/$df-fs)*$rem;
  }

  .form-group-children {
    text-align: left;
    padding: 0 (24/$df-fs)*$rem;
  }

  .form-group-footer {
    background-color: #fafafa;
    border-top: solid 1px #e0e0e0;
    margin-bottom: (1/$df-fs)*$rem;
    padding: (22/$df-fs)*$rem 0 (20/$df-fs)*$rem;
    text-align: center;
    font-size: (9/$df-fs)*$rem;
    line-height: 1.56;
    letter-spacing: (1.3/$df-fs)*$rem;
    color: $color-lighter-chocolate;
    text-transform: uppercase;

    a {
      cursor: pointer;
      color: $color-violet;
      text-decoration: none;
    }
  }

  .btn-login {
    font-family: $sfui-medium;
  }
}