@import "app/css/variable";

.btn-purple-round {
  background-color: #917bd5;
  border-radius: (4/$df-fs)*$rem;
  border: 1px solid #917bd5;
  color: #fff;
  font-size: (12/$df-fs)*$rem;
  text-align: center;
  text-transform: uppercase;
  padding: (12/$df-fs)*$rem;
  height: (40/$df-fs)*$rem;
  width: (140/$df-fs)*$rem;
  line-height: 1.17;
  letter-spacing: 0.1rem;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #625a87;
    border-color: #625a87;
  }

  &:active {
    background-color: #453b70;
    border-color: #453b70;
  }

  &.disabled,
  &:disabled {
    background-color: #c8bdea;
    border-color: #c8bdea;
  }
}