@import "app/css/variable";

.address-item {
  display: table;

  + .address-item {
    padding-top: (16/$df-fs)*$rem;
  }

  &.deleted {
    display: none;
  }

  padding-bottom: (16/$df-fs)*$rem;
  border-bottom: 1px solid #e0e0e0;

  .form-input {
    display: table-cell;
    width: 100%;
    vertical-align: top;
  }

  .edit-dropdown {
    display: table-cell;
    padding-left: (20/$df-fs)*$rem;

    .btn-secondary {
      padding: (8/$df-fs)*$rem 0;
      width: (32/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      border-radius: 50%;
      background-color: transparent !important;
      border: none;

      &:hover,
      &:active {
        box-shadow: none !important;
        background-color: rgba(33, 33, 33, 0.2) !important;
      }

      span {
        font-size: (18/$df-fs)*$rem;
      }
    }

    .dropdown-menu {
      width: (194/$df-fs)*$rem;
      padding: 0;
      margin-top: (5/$df-fs)*$rem;
      transform: none !important;
      top: 100% !important;
      left: auto !important;
      right: 0 !important;
      overflow: hidden;
      box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);

      .dropdown-item {
        padding: (15/$df-fs)*$rem;
        cursor: pointer;
      }
    }

    .dropdown-item {
      padding: (15/$df-fs)*$rem;
      cursor: pointer;
      color: #212121;
      overflow: hidden;

      &.disabled {
        cursor: auto;
        text-align: center;
      }

      &.selected {
        background-color: #f5f5f5;
      }

      &:hover,
      &:active {
        background-color: #f5f5f5;
        color: #757575;
      }
    }
  }

  .icon-ellypsis {
    color: #917bd5;
  }
}