@import "app/css/variable";

.proof-upload-wrapper {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
  margin-bottom: (16/$df-fs)*$rem;
  margin-left: (-24/$df-fs)*$rem;
  margin-right: (-24/$df-fs)*$rem;
  width: (352/$df-fs)*$rem;

  .proof-label {
    line-height: 1.56;
    letter-spacing: 1.3px;
    color: #757575;
    font-size: (9/$df-fs)*$rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: (10/$df-fs)*$rem;
  }
}

.image-frame-wrapper {
  position: relative;
  width: 100%;
  display: flex;

  .image-frame {
    width: (56/$df-fs)*$rem;
    height: (56/$df-fs)*$rem;
    border: solid 1px #e0e0e0;
    background-color: #fafafa;
    border-radius: 50%;
    margin: 0 auto (15/$df-fs)*$rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &.left-image {
      margin: 0 0 (16/$df-fs)*$rem;
    }

    &.proof {
      border-radius: (4/$df-fs)*$rem;
      margin: 0;
    }

    .input-file {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      z-index: 1;
    }

    .image {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .icon-style {
      font-size: (15/$df-fs)*$rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #917BD5;
    }
  }

  .proof-wrapper {
    margin-left: auto;
    line-height: 1;

    .item-proof {
      width: (56/$df-fs)*$rem;
      height: (56/$df-fs)*$rem;
      border-radius: (4/$df-fs)*$rem;
      border: 1px solid #e0e0e0;
      margin-left: (12/$df-fs)*$rem;
      position: relative;
      display: inline-block;
      overflow: hidden;

      &:hover {
        .icon-cancel {
          display: inline;
        }
      }

      .proof-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon-cancel {
        display: none;
        cursor: pointer;
        color: #917BD5;
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .icon-wrapper {
    position: absolute;
    top: 13%;
    left: 58%;
    transform: translateX(-50%) translateY(-50%);
    width: (16/$df-fs)*$rem;
    height: (16/$df-fs)*$rem;
    border-radius: 50%;
    background-color: $color-violet;
    cursor: pointer;
    z-index: 1;

    .input-icon {
      font-size: 10px;
      position: absolute;
      top: (8/$df-fs)*$rem;
      cursor: pointer;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}