@import 'app/css/variable';

.device-details {
  //height: 100%;
  background-color: #f5f5f5;

  .content {
    .info-device {
      .left-part {
        padding: (24/$df-fs)*$rem;

        .information {
          background: #fff;
          border-radius: (4/$df-fs)*$rem;
          border: 1px solid #e0e0e0;
          margin-bottom: (24/$df-fs)*$rem;
          padding: (24/$df-fs)*$rem;
          position: relative;

          &.jobs-assigned {
            padding-bottom: 0;

            .left {
              margin-bottom: (28/$df-fs)*$rem;
            }
          }

          .title {
            line-height: 1.31;
          }

          .right {
            padding-left: (42/$df-fs)*$rem;

            .company-logo {
              margin-bottom: (24/$df-fs)*$rem;

              img {
                width: (72/$df-fs)*$rem;
                height: (72/$df-fs)*$rem;
                border-radius: 50%;
                border: 1px solid #e0e0e0;
              }
            }

            .details {
              .info-item {
                margin-bottom: (16/$df-fs)*$rem;

                &:last-child {
                  margin-bottom: 0;
                }

                .title {
                  margin-bottom: (11/$df-fs)*$rem;
                  font-size: (9/$df-fs)*$rem;
                  line-height: 1.56;
                  letter-spacing: (1.3/$df-fs)*$rem;
                  color: #757575;
                  text-transform: uppercase;
                }

                .data {
                  font-size: (14/$df-fs)*$rem;
                  line-height: 1.36;
                  letter-spacing: (0.3/$df-fs)*$rem;
                  color: #212121;
                }
              }

              &.address-list {
                margin-right: (-24/$df-fs)*$rem;

                .info-item {
                  margin-bottom: (14/$df-fs)*$rem;
                  padding-bottom: (8/$df-fs)*$rem;
                  padding-right: (24/$df-fs)*$rem;
                  border-bottom: 1px solid #e0e0e0;
                }
              }

              &.payment-list {
                .info-item {
                  .data {
                    min-height: (47/$df-fs)*$rem;
                  }
                }
              }
            }
          }

          .add-address {
            font-size: (10/$df-fs)*$rem;
            font-weight: $sfui-medium;
            width: (170/$df-fs)*$rem;
            height: (32/$df-fs)*$rem;
            padding: (10/$df-fs)*$rem;
          }
        }
      }

      .right-part {
        padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (24/$df-fs)*$rem 0;

        .information {
          background: #fff;
          border-radius: (4/$df-fs)*$rem;
          border: 1px solid #e0e0e0;
          margin-bottom: (24/$df-fs)*$rem;
          padding: (16/$df-fs)*$rem;
          position: relative;

          .title {
            margin-bottom: (20/$df-fs)*$rem;
            font-size: (16/$df-fs)*$rem;
            font-family: $sfui-bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #2a2a2c;
          }

          .number {
            font-size: (32/$df-fs)*$rem;
            font-family: $sfui-light;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: (0.3/$df-fs)*$rem;
            color: #212121;
          }

          .info {
            font-size: (9/$df-fs)*$rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            text-align: right;
            text-transform: uppercase;
            color: #2a2a2c;
            position: absolute;
            right: (16/$df-fs)*$rem;
            bottom: (20/$df-fs)*$rem
          }
        }
      }
    }

    .list {
      table {
        width: 100%;

        .title-table {
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          color: $color-old-lavender;
          text-transform: uppercase;

          tr {
            border-bottom: 1px solid $color-platinum;

            td {
              padding: 0 0 (16/$df-fs)*$rem 0;
              text-align: left;

              &:first-child {
                padding-left: (24/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (24/$df-fs)*$rem;
                text-align: right;
              }

              img {
                cursor: pointer;
              }
            }
          }
        }

        .content {
          font-size: (14/$df-fs)*$rem;
          line-height: 1.36;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: #212121;

          tr {
            border-bottom: 1px solid $color-platinum;

            td {
              padding: (16/$df-fs)*$rem 0;
              text-align: center;

              &:first-child {
                padding-left: (24/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (24/$df-fs)*$rem;
                text-align: right;
              }

              &.device-name {
                img {
                  width: (32/$df-fs)*$rem;
                  border-radius: 50%;
                  border: solid #eeeeee 1px;
                  margin-right: (16/$df-fs)*$rem;
                }
              }

              &.status {
                .content {
                  text-align: center;
                  padding-top: (5/$df-fs)*$rem;
                  background-color: #4d3a87;
                  border-radius: (4/$df-fs)*$rem;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: (9/$df-fs)*$rem;
                  line-height: 1.56;
                  letter-spacing: (1.3/$df-fs)*$rem;
                  height: (24/$df-fs)*$rem;
                  width: (96/$df-fs)*$rem;
                }
              }

              img {
                cursor: pointer;
              }

              &.action {
                .edit-dropdown {
                  .btn-secondary {
                    padding: 0 (5/$df-fs)*$rem;
                    height: (32/$df-fs)*$rem;
                    border-radius: 50%;
                    background-color: inherit;
                    border: none;
                    box-shadow: none !important;

                    &:focus {
                      background-color: $color-platinum;
                      outline: 0;
                    }

                    &:active {
                      background-color: $color-platinum;
                    }
                  }

                  .dropdown-menu {
                    left: (-24/$df-fs)*$rem !important;
                    top: (4/$df-fs)*$rem !important;
                    padding: 0;
                    border-radius: (4/$df-fs)*$rem;
                    width: 12.1 (32/$df-fs)*$rem;
                    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
                    border: 1px solid $color-white-smoke;

                    .dropdown-item {
                      padding: 0.93rem;
                      cursor: pointer;

                      &:last-child {
                        &:hover {
                          background-color: $color-white-smoke;
                          border-top: 1px solid $color-platinum;
                          border-bottom: none;
                        }
                      }

                      &:hover {
                        background-color: $color-white-smoke;
                        border-bottom: 1px solid $color-platinum;
                      }
                    }
                  }
                }
              }
            }

            &.selected {
              background-color: $color-white-smoke;
            }
          }
        }
      }

      &.table-assigned {
        margin: 0 (-24/$df-fs)*$rem;
      }
    }
  }
}