@import '../../css/variable';

.location {
  .label {
    margin-bottom: (5/$df-fs)*$rem;

    span {
      font-size: (9/$df-fs)*$rem;
      line-height: 1.56;
      letter-spacing: (1.3/$df-fs)*$rem;
      color: #757575;
      text-transform: uppercase;
    }
  }
}
