@import "app/css/variable";

.approval-area-list {
  .header-list-page {
    .search-bar {
      > .form-control {
        min-width: (345/$df-fs)*$rem;
      }
    }
  }

  .content {
    .avatar-company {
      width: (32/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      border-radius: 50%;
      border: 1px solid #eaeaea;
    }

    .approvals-table {
      .list-logo-services {
        img {
          height: (24/$df-fs)*$rem;
          width: (24/$df-fs)*$rem;
          margin-right: (8/$df-fs)*$rem;
        }
      }
    }

    .tr-bold {
      font-family: $sfui-bold !important;
      background-color: #fafafa;
    }
  }
}