@import 'app/css/variable';

.estimate-content {
  margin: (16/$df-fs)*$rem 0;
  border: 1px solid #e0e0e0;
  border-radius: (4/$df-fs)*$rem;

  .section {
    padding: (16/$df-fs)*$rem (19/$df-fs)*$rem;
    border-bottom: 1px solid #e0e0e0;

    .title {
      color: #2a2a2c;
      font-size: (16/$df-fs)*$rem;
      line-height: 1.31;
      letter-spacing: (0.3/$df-fs)*$rem;
      font-family: $sfui-bold;
    }

    .modify-items {
      margin-top: (19/$df-fs)*$rem;
    }
  }

  .total {
    padding: (8/$df-fs)*$rem (19/$df-fs)*$rem;
    font-family: $sfui-bold;
    letter-spacing: (0.3/$df-fs)*$rem;
    display: table;
    width: 100%;

    .total-fee {
      display: table-cell;

      .price {
        font-size: (20/$df-fs)*$rem;
        line-height: 1.2;
      }

      .description {
        font-size: (14/$df-fs)*$rem;
        line-height: 1.36;
      }
    }

    .submit {
      display: table-cell;
      text-align: right;

      .icon-checkmark {
        margin-right: (10/$df-fs)*$rem;
      }

      button {
        cursor: pointer;
        background-color: #917bd5;
        border-radius: (4/$df-fs)*$rem;
        border: 1px solid #917bd5;
        color: #fff;
        font-size: (12/$df-fs)*$rem;
        text-align: center;
        text-transform: uppercase;
        padding: 0.875rem;
        height: (40/$df-fs)*$rem;
        width: (115/$df-fs)*$rem;
        line-height: 1.17;
        letter-spacing: 0.1rem;

        &:focus {
          outline: 0;
        }

        &:hover {
          background-color: #625a87;
          border-color: #625a87;
        }

        &:active {
          background-color: #453b70;
          border-color: #453b70;
        }

        &.disabled,
        &:disabled {
          background-color: #c8bdea;
          border-color: #c8bdea;
        }
      }
    }
  }

  &.response {
    width: (463/$df-fs)*$rem;

    .name {
      font-size: (14/$df-fs)*$rem;
      line-height: 1.36;
      letter-spacing: (0.3/$df-fs)*$rem;
    }

    .price {
      font-size: (16/$df-fs)*$rem;
      font-family: $sfui-bold;
      line-height: 1.31;
      letter-spacing: (0.3/$df-fs)*$rem;
      float: right;
      color: #2a2a2c;
    }

    .response-item {
      margin-top: (14/$df-fs)*$rem;
    }

    .total,
    .deposit {
      padding: (16/$df-fs)*$rem (17/$df-fs)*$rem;

      .name {
        font-family: $sfui-bold;
        display: table-cell;
        vertical-align: middle;
        width: 1%;
      }
    }

    .total {
      .price {
        font-size: (20/$df-fs)*$rem;
        line-height: 1.35;
      }
    }

    .deposit {
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &.rating {
    width: 100%;
    text-align: center;

    .rating-point {
      padding-top: (13/$df-fs)*$rem;
      padding-bottom: (15/$df-fs)*$rem;
    }

    .star {
      width: (32/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      display: inline-block;
      text-align: center;

      .icon-star-full {
        color: #bdbdbd;
        font-size: (24/$df-fs)*$rem;
      }

      &.active {
        .icon-star-full {
          color: #917bd5;
        }
      }
    }

    .commend {
      padding: (16/$df-fs)*$rem (25/$df-fs)*$rem (8/$df-fs)*$rem;
      border-top: 1px solid #e0e0e0;

      .user {
        display: table;

        .avatar {
          display: table-cell;
          width: (40/$df-fs)*$rem;
          height: (40/$df-fs)*$rem;
          border-radius: 50%;
          vertical-align: middle;
        }

        .user-info {
          display: table-cell;
          text-align: left;
          color: #212121;
          line-height: 1.36;
          letter-spacing: (0.3/$df-fs)*$rem;
          font-size: (14/$df-fs)*$rem;
          vertical-align: middle;
          padding-left: (8/$df-fs)*$rem;

          .user-name {
            font-family: $sfui-bold;
            margin-bottom: (5/$df-fs)*$rem;
          }
        }
      }

      .time {
        color: #9e9e9e;
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        text-align: right;
      }
    }
  }

  &.refund-note {
    width: 100%;
    padding: (16/$df-fs)*$rem (20/$df-fs)*$rem (16/$df-fs)*$rem (15/$df-fs)*$rem;

    .label {
      margin-bottom: (11/$df-fs)*$rem;

      span {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
      }
    }
  }
}