@import 'app/css/variable';

.refund-modal {
  .modal-body {
    padding: 0;

    .label {
      margin-bottom: (5/$df-fs)*$rem;

      span {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
      }
    }

    input {
      font-size: (14/$df-fs)*$rem;
      height: (40/$df-fs)*$rem;
      border-radius: (4/$df-fs)*$rem;
      border: solid 1px #e0e0e0;
      width: (298/$df-fs)*$rem;
      letter-spacing: (0.3/$df-fs)*$rem;
      background-color: #fafafa;
      padding: 0 (13/$df-fs)*$rem;

      &:disabled {
        color: #757575;
      }
    }

    .modify-item {
      margin-bottom: (16/$df-fs)*$rem;
    }

    .refund-modify {
      display: table;
      width: 100%;
    }

    .upper {
      padding: (24/$df-fs)*$rem;
    }

    .payment {
      padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
      border: 1px solid #e0e0e0;

      .dropdown-edit {
        display: table-cell;
        width: (65/$df-fs)*$rem;

        .btn-secondary {
          height: (40/$df-fs)*$rem;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .dropdown-menu {
          width: (65/$df-fs)*$rem;
          box-shadow: 0px (5/$df-fs)*$rem (10/$df-fs)*$rem #D2D2D2;
        }
      }

      .refund-input {
        display: table-cell;
        height: (40/$df-fs)*$rem;
        border-radius: (4/$df-fs)*$rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        border: solid 1px #e0e0e0;
        width: 100%;
        letter-spacing: (0.3/$df-fs)*$rem;
        background-color: #fafafa;
        padding: 0 (13/$df-fs)*$rem;
      }
    }

    .total {
      padding: (16/$df-fs)*$rem (24/$df-fs)*$rem;
      border-bottom: 1px solid #e0e0e0;

      span {
        font-family: $sfui-bold;

        &.price {
          font-size: (20/$df-fs)*$rem;
          margin-right: (32/$df-fs)*$rem;
        }

        &.description {
          font-size: (16/$df-fs)*$rem;
        }
      }
    }

    .note {
      padding: (16/$df-fs)*$rem (24/$df-fs)*$rem 0;
    }

    .lower {
      padding: 0 (24/$df-fs)*$rem (24/$df-fs)*$rem;
      margin: 0;
      text-align: right;

      button {
        min-width: (146/$df-fs)*$rem;
      }
    }
  }
}