@import "app/css/variable";

.new-service {
  .new-service-content {
    .service-info {
      padding: (24/$df-fs)*$rem;

      .icon-camera {
        color: #917bd5;
        cursor: pointer;
      }

      .service-details {
        padding-right: (25/$df-fs)*$rem;

        .details-wrapper {
          .service-icon {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin-bottom: (16/$df-fs)*$rem;

            .icon-wrapper {
              border: 1px solid #e0e0e0;
              border-radius: 50%;
              display: table-cell;
              position: relative;
              vertical-align: middle;
              text-align: center;
              overflow: hidden;
              width: (72/$df-fs)*$rem;
              height: (72/$df-fs)*$rem;

              .icon-uploaded {
                object-fit: cover;
                width: (72/$df-fs)*$rem;
                height: (72/$df-fs)*$rem;
                max-width: 100%;
                max-height: 100%;
              }
            }

            .add-icon {
              display: table-cell;
              padding: 0;
              vertical-align: middle;
              font-family: $sfui-medium;
              font-size: (10/$df-fs)*$rem;
              color: #917bd5;
              line-height: 3.2;
              letter-spacing: (1.3/$df-fs)*$rem;
              text-transform: uppercase;
              cursor: pointer;

              .file-wrapper {
                position: relative;
                margin-bottom: 0;
                top: auto;
                left: auto;

                span {
                  text-transform: none;
                  text-align: left;
                }
              }
            }
          }
        }
      }

      .service-background {
        padding-left: (24/$df-fs)*$rem;
        margin: (-24/$df-fs)*$rem 0;

        .background-wrapper {
          padding: (24/$df-fs)*$rem 0;
        }

        border-left: solid 1px #e0e0e0;

        .title {
          margin-bottom: (5/$df-fs)*$rem;

          span {
            font-size: (9/$df-fs)*$rem;
            line-height: 1.56;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #757575;
            text-transform: uppercase;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
          }
        }

        .background-container {
          height: (264/$df-fs)*$rem;
          width: (145/$df-fs)*$rem;
          max-width: 100%;
          border: 1px solid #e0e0e0;
          border-radius: (4/$df-fs)*$rem;
          background-color: #fafafa;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          overflow: hidden;

          .background-uploaded {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }

        .upload-background {
          text-align: center;
          color: #917bd5;
          position: relative;

          .file-wrapper {
            font-size: (10/$df-fs)*$rem;
            font-family: $sfui-medium;
            line-height: 3.2;
            letter-spacing: (1.3/$df-fs)*$rem;
            text-transform: uppercase;
            cursor: pointer;
            position: static;

            .file {
              left: 0;
            }

            span {
              text-transform: none;
              text-align: left;
            }
          }
        }
      }
    }

    .information {
      .details {
        .input-group {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .addition-action {
        padding-right: 0;

        button {
          font-weight: 500;
          font-size: (10/$df-fs)*$rem;
          height: (32/$df-fs)*$rem;
          width: (169/$df-fs)*$rem;
          padding: 0;
        }
      }

      .special {
        padding-right: 0;
      }
    }

    .area-item {
      margin-bottom: (16/$df-fs)*$rem;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: (16/$df-fs)*$rem;
      display: table;
      width: 100%;

      .details {
        display: table-cell
      }

      .delete {
        display: table-cell;
        padding-left: (20/$df-fs)*$rem;
        vertical-align: top;
        width: (70/$df-fs)*$rem;

        .icon-contain {
          text-align: center;
          position: inherit;

          .icon-bin {
            color: #917bd5;
            font-size: (16/$df-fs)*$rem;
            cursor: pointer;
          }
        }
      }
    }

    .keywords {
      textarea {
        width: 100%;
        height: (128/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        background-color: #fafafa;
        border-radius: (4/$df-fs)*$rem;
        padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
      }

      .list-tags {
        border: 1px solid #e0e0e0;
        border-radius: (4/$df-fs)*$rem;
        min-height: (128/$df-fs)*$rem;
        padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
      }
    }

    .certification {
      .certification-item {
        padding-bottom: (16/$df-fs)*$rem;
      }
    }
  }

  .new-service-footer {
    position: static;

    .btn-login {
      margin-bottom: 0;
    }
  }
}

.add-success-modal {
  .modal-body {
    padding: (24/$df-fs)*$rem;

    .upper {
      .title {
        span {
          font-size: (16/$df-fs)*$rem;
          font-family: $sfui-bold;
          line-height: 1.31;
        }
      }

      .description {
        margin-top: (11/$df-fs)*$rem;

        span {
          font-size: (14/$df-fs)*$rem;
          line-height: 1.36;
        }
      }
    }

    .lower {
      text-align: center;
      margin-top: (25/$df-fs)*$rem;

      button:first-child {
        margin-right: (11/$df-fs)*$rem;
      }
    }
  }
}