@import "app/css/variable";

.name-and-image {
  img {
    width: (24/$df-fs)*$rem;
    height: (24/$df-fs)*$rem;
    margin-right: (16/$df-fs)*$rem;
  }
}

.showed-items {
  font-size: (9/$df-fs)*$rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: (1.3/$df-fs)*$rem;
  color: #757575;
  text-transform: uppercase;

  .counter {
    margin-right: (20/$df-fs)*$rem;
  }

  button {
    border-radius: 50%;
    padding: (9/$df-fs)*$rem (11/$df-fs)*$rem;

    &.prev,
    &.next {
      font-size: (8/$df-fs)*$rem;
      color: #917bd5;
    }

    &.prev {
      margin-right: (22/$df-fs)*$rem;
    }

    &:hover {
      background-color: rgba(33, 33, 33, 0.2);
    }

    &:active {
      background-color: rgba(33, 33, 33, 0.3);
    }

    &:disabled {
      color: #c8bdea; //cursor: not-allowed;
      .tooltip {
        display: none;
      }
    }
  }
}