@import "app/css/variable";

div {
  &.ReactTags__tags {
    position: relative;
  }

  /* Styles for the input */
  &.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;

    input.ReactTags__tagInputField {
      height: (31/$df-fs)*$rem;
      margin: 0;
      font-size: (12/$df-fs)*$rem;
      width: 100%;
      //border: 1px solid #eee;
      padding: 0 (4/$df-fs)*$rem;

      &:focus {
        height: (31/$df-fs)*$rem;
        margin: 0;
        font-size: (12/$df-fs)*$rem;
        width: 100%;
        border: 1px solid #eee;
        padding: 0 (4/$df-fs)*$rem;
      }
    }
  }

  /* Styles for selected tags */
  &.ReactTags__selected {
    span.ReactTags__tag {
      border: 1px solid #ddd;
      background: $color-dark-slate-blue-2;
      color: #fff;
      font-size: (12/$df-fs)*$rem;
      display: inline-block;
      padding: (5/$df-fs)*$rem;
      margin: 0 (4.5/$df-fs)*$rem;
      cursor: move;
      border-radius: (4/$df-fs)*$rem;

      &:first-child {
        margin-left: 0;
      }
    }

    a.ReactTags__remove {
      color: #aaa;
      margin-left: (5/$df-fs)*$rem;
      cursor: pointer;
    }
  }

  /* Styles for suggestions */
  &.ReactTags__suggestions {
    position: absolute;

    ul {
      list-style-type: none;
      background: white;
      width: (200/$df-fs)*$rem;
    }

    li {
      border-bottom: 1px solid #ddd;
      padding: (5/$df-fs)*$rem (10/$df-fs)*$rem;
      margin: 0;

      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }

    ul li.ReactTags__activeSuggestion {
      background: #b7cfe0;
      cursor: pointer;
    }
  }
}