@import 'app/css/variable';

.companies-list {
  .header-list-page {
    .search-bar {
      > .form-control {
        min-width: (217/$df-fs)*$rem;
      }
    }

    .fixle-checkbox-circle {
      margin-left: (16/$df-fs)*$rem;

      .fixle-label {
        letter-spacing: normal;
        text-transform: none;
        font-size: (14/$df-fs)*$rem;
        color: #212121;
      }
    }

    .services-dropdown {
      .content {
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        vertical-align: middle;
        text-overflow: ellipsis;
      }
    }
  }

  .content {
    .avatar-company {
      width: (32/$df-fs)*$rem;
      height: (32/$df-fs)*$rem;
      border-radius: 50%;
      border: 1px solid #eaeaea;
    }

    .status {
      .content {
        margin: 0 auto;
      }
    }

    .rating {
      [class^="icon-"] {
        color: #917bd5;
      }
    }
  }
}