@import "app/css/variable";

.new-member {
  .icon-camera {
    color: #917bd5;
  }

  .new-member-content {
    .contact-number {
      &.contact-number {
        input {
          position: relative;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          width: 1%;
          margin-bottom: 0;
        }

        .input-group-text {
          background-color: $color-snow;
          font-size: (14/$df-fs)*$rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          letter-spacing: (1.3/$df-fs)*$rem;
          text-align: center;
          color: $color-old-lavender;
          border-top-left-radius: 0;
        }

        .input-form {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
        }

        .dropdown-edit {
          .btn-secondary {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    .member-avatar {
      .avatar-wrapper {
        display: table-cell;
        width: (72/$df-fs)*$rem;
        height: (72/$df-fs)*$rem;
        border: solid 1px #e0e0e0;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }

      .change-avatar {
        display: table-cell;
        padding-left: (16/$df-fs)*$rem;
      }
    }
  }

  .new-member-footer {
    position: absolute;

    button:last-child {
      margin-left: (12/$df-fs)*$rem;
    }

    .btn-login {
      margin-bottom: 0;
    }
  }
}