@import "app/css/variable";

.edit-company {
  height: 100%;
  background-color: #f5f5f5;

  .header {
    background-color: #ffffff;
    width: 100%;
    padding: (24/$df-fs)*$rem;
    padding-bottom: 0;
    border-bottom: solid 1px #e0e0e0;

    .title {
      font-size: (22/$df-fs)*$rem;
      font-weight: 900;
      line-height: 1.23;
      letter-spacing: (0.3/$df-fs)*$rem;
      color: #212121;
      margin-bottom: (24/$df-fs)*$rem;
    }
  }

  .content {
    .company-logo {
      margin-bottom: (16/$df-fs)*$rem;

      .image-wrapper {
        display: table;
        margin-bottom: (16/$df-fs)*$rem;

        img {
          display: table-cell;
          width: (72/$df-fs)*$rem;
          height: (72/$df-fs)*$rem;
          border-radius: 50%;
          margin-right: (38/$df-fs)*$rem;
        }

        .change-avatar {
          display: none;
          vertical-align: middle;
          font-size: (10/$df-fs)*$rem;
          color: #212121;
          line-height: 3.2;
          letter-spacing: (1.3/$df-fs)*$rem;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
        }

        .file-wrapper {
          .file {
            left: 0;
          }
        }
      }
    }

    .change-logo {
      vertical-align: middle;
      font-size: (10/$df-fs)*$rem;
      color: #917bd5;
      line-height: 3.2;
      letter-spacing: (1.3/$df-fs)*$rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-left: (26/$df-fs)*$rem;
      cursor: pointer;
    }

    .information {
      > .title {
        font-family: $sfui-bold;

        span {
          color: #2a2a2c;
          font-size: (16/$df-fs)*$rem;
          line-height: 1.31;
          letter-spacing: (0.3/$df-fs)*$rem;
        }
      }

      .right {
        .company-logo {
          img,
          .change-logo {
            display: table-cell;
          }
        }

        .details {
          .info-item {
            margin-bottom: 1rem;

            .title {
              margin-bottom: (5/$df-fs)*$rem;

              span {
                font-size: (9/$df-fs)*$rem;
                line-height: 1.56;
                letter-spacing: (1.3/$df-fs)*$rem;
                color: #757575;
                text-transform: uppercase;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
              }
            }

            .data {
              font-size: 0.875rem;
              line-height: 1.36;
              letter-spacing: 0.018rem;
              color: #212121;
            }

            &.contact-number {
              input {
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                width: 1%;
                margin-bottom: 0;
              }

              .input-group-text {
                background-color: $color-snow;
                font-size: (14/$df-fs)*$rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: (1.3/$df-fs)*$rem;
                text-align: center;
                color: $color-old-lavender;
              }
            }
          }
        }
      }
    }

    .list-service {
      border: 1px solid #e0e0e0;
      border-radius: (4/$df-fs)*$rem;
      overflow: hidden;

      .service-item {
        display: table;
        width: 100%;
        padding: (12/$df-fs)*$rem (22/$df-fs)*$rem;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
          border-bottom: none;
        }

        > * {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          margin-right: (12/$df-fs)*$rem;

          &:last-child {
            margin-right: 0;
          }
        }

        .logo-service {
          width: (24/$df-fs)*$rem;
          height: (24/$df-fs)*$rem;
          border-radius: 50%;
        }

        .name-service {
          font-size: (14/$df-fs)*$rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.36;
          letter-spacing: (0.3/$df-fs)*$rem;
          color: #212121;
        }

        .fixle-checkbox-square {
          label {
            line-height: 1;
            padding: 0;
          }

          .fixle-input {
            + .fixle-span {
              &::before {
                color: #212121;
              }
            }

            &:checked {
              + .fixle-span {
                &::before {
                  color: #917bd5;
                }
              }
            }
          }
        }
      }
    }

    .list {
      margin: 0 (-24/$df-fs)*$rem (-24/$df-fs)*$rem;

      table {
        width: 100%;

        .title {
          tr {
            border-bottom: 1px solid #e0e0e0;

            td {
              padding: (16/$df-fs)*$rem 0;

              &:first-child {
                padding-left: (28/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (15/$df-fs)*$rem;
                text-align: right;
              }

              span {
                font-size: 0.625rem;
                line-height: 1.6;
                letter-spacing: 0.125rem;
                color: #9e9e9e;
                text-transform: uppercase;
              }

              img {
                cursor: pointer;
              }
            }
          }
        }

        .content {
          font-size: 0.875rem;
          line-height: 1.36;
          letter-spacing: 0.018rem;
          color: #212121;

          tr {
            border-bottom: 1px solid #e0e0e0;

            &:last-child {
              border-bottom: none;
            }

            td {
              padding: (23/$df-fs)*$rem 0;
              font-size: (14/$df-fs)*$rem;
              line-height: 1.36;
              letter-spacing: (0.3/$df-fs)*$rem;

              &:first-child {
                font-family: $sfui-bold;
                padding-left: (32/$df-fs)*$rem;
                text-align: left;
              }

              &:last-child {
                padding-right: (15/$df-fs)*$rem;
                text-align: right;
              }

              &.status {
                .content {
                  text-align: center;
                  padding: 0.31rem 0;
                  background-color: #4d3a87;
                  border-radius: 0.25rem;
                  color: #fff;
                  text-transform: uppercase;
                  font-size: 0.5625rem;
                  line-height: 1.56;
                  letter-spacing: 0.081rem;
                }
              }

              &.action {
                .edit-dropdown {
                  .btn-secondary {
                    padding: 0 0.3rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: inherit;
                    border: none;

                    &:focus {
                      background-color: #e0e0e0;
                      outline: 0;
                      box-shadow: none !important;
                    }

                    &:active {
                      background-color: #e0e0e0;
                      box-shadow: none !important;
                    }
                  }

                  .dropdown-menu {
                    left: -1.5rem !important;
                    top: 0.25rem !important;
                    padding: 0;
                    border-radius: 0.25rem;
                    width: 12.12rem;
                    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
                    border: 1px solid #f5f5f5;

                    .dropdown-item {
                      padding: 0.93rem;
                      cursor: pointer;

                      &:last-child {
                        &:hover {
                          background-color: #f5f5f5;
                          border-top: 1px solid #e0e0e0;
                          border-bottom: none;
                        }
                      }

                      &:hover {
                        background-color: #f5f5f5;
                        border-bottom: 1px solid #e0e0e0;
                      }
                    }
                  }
                }
              }
            }

            &.selected {
              background-color: #f5f5f5;
            }
          }
        }
      }

      &.table-lisence {
        table {
          .title {
            .certifications {
              width: (214/$df-fs)*$rem;
            }

            .proof {
              width: (153/$df-fs)*$rem;
              text-align: left;
            }
          }

          .content {
            vertical-align: top;

            tr {
              td {
                &:last-child {
                  text-align: center !important;
                }
              }
            }

            .column-img {
              padding-right: (15/$df-fs)*$rem !important;

              .fixle-list-image-overflow {
                margin-top: (-7/$df-fs)*$rem;
                float: left;
              }
            }
          }

          .edit-proof {
            font-size: (10/$df-fs)*$rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 3.2;
            letter-spacing: (1.3/$df-fs)*$rem;
            color: #917bd5;
            text-transform: uppercase;
            cursor: pointer;
            width: (65/$df-fs)*$rem;
            vertical-align: top;
            float: right;
          }
        }
      }
    }

    .fixle-textarea-counter {
      textarea {
        min-height: (144/$df-fs)*$rem;
      }
    }
  }

  .footer {
    padding: (8/$df-fs)*$rem (24/$df-fs)*$rem;
    position: static;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;
    background-color: #ffffff;
    border-top: solid 1px #e0e0e0;

    button {
      width: (140/$df-fs)*$rem;
      height: (40/$df-fs)*$rem;
    }

    .btn-ghost {
      padding: (6/$df-fs)*$rem (12/$df-fs)*$rem;
    }

    .btn-login {
      margin-bottom: 0;
    }
  }
}