@import "app/css/variable";

.file-wrapper {
  font-family: $sfui-medium;
  position: absolute;
  top: (22/$df-fs)*$rem;
  left: (142/$df-fs)*$rem;
  cursor: pointer;
  color: $color-violet;

  &.relative-style {
    position: relative;
    top: 0;
    left: 0;
  }

  .btn-content {
    line-height: 3.2;
    letter-spacing: 1.3px;
    text-align: center;
    color: #917bd5;
    font-size: (10/$df-fs)*$rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
  }

  .file {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
    z-index: 999;

    &:hover + .btn-content {
      color: #625a87;
    }

    &:active + .btn-content {
      color: #453b70;
    }
  }

  .error-text {
    //position: absolute;
    //left: 0;
    //top: 50%;
    //transform: translate(55%, -50%);
    //padding-left: -1.07143rem;
    //width: (125/$df-fs)*$rem;
    .error-content {
      font-family: $sfui-regular, sans-serif;
      color: #212121;
      margin-left: (7/$df-fs)*$rem;
      font-size: (11/$df-fs)*$rem;
    }
  }
}