@import "app/css/variable";

.reset-password-success {
  width: 22rem;
  background-color: $color-white;
  border-radius: 0.25rem;
  border: solid 0.0625rem $color-lightest-grey;
  position: absolute;
  top: 7rem;
  left: 40%;
  padding: 1.5rem 0 1.5rem;
  text-align: center;

  .title {
    span {
      color: #2a2a2c;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .description {
    margin-top: 10px;

    span {
      color: #212121;
      font-size: 14px;
    }
  }

  .back-login {
    margin-top: 1rem;
    width: 11.75rem;
    height: 3rem;
    font-weight: 500;
  }
}