@import 'app/css/variable';

.reschedule-modal {
  margin-top: (160/$df-fs)*$rem;

  .middle {
    margin-top: (10/$df-fs)*$rem;

    .label {
      font-size: (9/$df-fs)*$rem;
      line-height: 1.56;
      letter-spacing: (1.3/$df-fs)*$rem;
      color: #757575;
      text-transform: uppercase;
      margin-bottom: (5/$df-fs)*$rem;
    }

    .appointment {
      margin-bottom: (16/$df-fs)*$rem;
    }
  }

  .react-datepicker-popper {
    max-width: 100%;

    .react-datepicker__triangle {
      display: none;
    }

    // .react-datepicker__header {
    //     .react-datepicker__current-month {
    //         font-size: (14/$df-fs)*$rem;
    //         font-family: $sfui-bold;
    //         line-height: 1.36;
    //         letter-spacing: (0.3/$df-fs)*$rem;
    //         color: #212121;
    //     }
    //     .react-datepicker__day-names {
    //         color: #757575;
    //         font-size: (9/$df-fs)*$rem;
    //         line-height: 1.56;
    //         letter-spacing: (1.3/$df-fs)*$rem;
    //         font-family: $sfui-regular;
    //         text-transform: uppercase;
    //     }
    // }
    .react-datepicker__month {
      margin-bottom: (10/$df-fs)*$rem;
      padding: 0 (11/$df-fs)*$rem (12/$df-fs)*$rem;

      .react-datepicker__week {
        .react-datepicker__day {
          width: (40/$df-fs)*$rem;
          height: (40/$df-fs)*$rem;
          color: #2a2a2c;
          font-size: (9/$df-fs)*$rem;
          line-height: 1.56;
          letter-spacing: (1.3/$df-fs)*$rem;
          font-family: $sfui-regular;
          display: table-cell;
          border-radius: 50%;
          vertical-align: middle;

          &.react-datepicker__day--selected {
            background-color: #917bd5;
            color: #fff;
          }
        }

        .react-datepicker__day--disabled {
          color: #ccc;
        }
      }
    }
  }

  .time-picker {
    margin-bottom: (8/$df-fs)*$rem;
    height: (40/$df-fs)*$rem;
  }

  .lower {
    margin: 0;
  }
}

.fixle-timepicker {
  width: 100%;
  margin-bottom: (8/$df-fs)*$rem;

  .rc-time-picker-input {
    font-size: (14/$df-fs)*$rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: (0.3/$df-fs)*$rem;
    color: #212121;
    height: (40/$df-fs)*$rem;
  }
}