@import 'app/css/variable';

.btn-neon {
  min-width: (112/$df-fs)*$rem;
  height: (32/$df-fs)*$rem;
  border: 1px solid #917bd5;
  border-radius: (4/$df-fs)*$rem;

  font-size: (10/$df-fs)*$rem;
  line-height: 3.2;
  letter-spacing: (1.3/$df-fs)*$rem;
  text-transform: uppercase;
  color: #917bd5;
  text-align: center;

  &.disabled {
    color: #757575;
    border: 1px solid #757575;

    &:hover {
      background-color: inherit;
    }

    &:active {
      background-color: inherit;
    }
  }

  &:hover {
    background-color: #eeeeee;
  }

  &:active {
    background-color: #e0e0e0;
  }
}