@import "app/css/variable";

.form-input {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: (16/$df-fs)*$rem;

  .form-label {
    font-size: (9/$df-fs)*$rem;
    line-height: 1.56;
    letter-spacing: (1.3/$df-fs)*$rem;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: (5/$df-fs)*$rem;
  }

  .input-form {
    font-size: (14/$df-fs)*$rem;
    height: (40/$df-fs)*$rem;
    border-radius: (4/$df-fs)*$rem;
    border: solid 1px #e0e0e0;
    width: 100%;
    letter-spacing: (0.3/$df-fs)*$rem;
    background-color: #fafafa;
    padding: 0 (13/$df-fs)*$rem;
    position: relative;

    &.error-form {
      border: solid 1px #f65659;
    }
  }

  .icon-append {
    position: absolute;
    top: (40/$df-fs)*$rem;
    right: 0;
    font-size: (16/$df-fs)*$rem;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    z-index: 1;

    i {
      color: $color-medium-purple;
    }
  }

  .error-text {
    width: 100%;
    padding: 0 (6/$df-fs)*$rem;
    letter-spacing: (0.3/$df-fs)*$rem;
    color: #212121;
    position: relative;
    margin-top: (4/$df-fs)*$rem;
    display: table;

    [class*='icon-'] {
      font-size: (17/$df-fs)*$rem;
      color: #f65b58;
      display: table-cell;
      vertical-align: top;
      width: 1%;
      padding-right: (8/$df-fs)*$rem;
    }

    span {
      font-size: (11/$df-fs)*$rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: (0.3/$df-fs)*$rem;
      color: #212121;
      display: table-cell;
      vertical-align: middle;
    }
  }
}