@import 'app/css/variable';

.charge-item {
  margin-bottom: (16/$df-fs)*$rem;

  .label {
    font-size: (9/$df-fs)*$rem;
    line-height: 1.56;
    letter-spacing: (1.3/$df-fs)*$rem;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: (2/$df-fs)*$rem;
  }

  .part {
    display: inline-block;
    vertical-align: middle; //float: left;
    position: relative;

    &.part-left {
      margin-right: (8/$df-fs)*$rem;
      width: (301/$df-fs)*$rem;
    }

    &.part-right {
      width: (115/$df-fs)*$rem;
      max-width: (115/$df-fs)*$rem;
    }

    input {
      font-size: (14/$df-fs)*$rem;
      height: (40/$df-fs)*$rem;
      border-radius: (4/$df-fs)*$rem;
      border: solid 1px #e0e0e0;
      max-width: (301/$df-fs)*$rem;
      width: 100%;
      letter-spacing: (0.3/$df-fs)*$rem;
      background-color: #fafafa;
      padding: 0 (13/$df-fs)*$rem;

      &:disabled {
        color: #757575;
      }
    }

    .estimate-dropdown {
      height: (40/$df-fs)*$rem;
      width: 100%;

      .btn-secondary {
        width: 100%;
        max-width: 100%;
        padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
        font-family: $sfui-regular;
        font-size: (14/$df-fs)*$rem;
        background: #fafafa !important;
        border: 1px solid #e0e0e0;
        color: #212121 !important;
        text-align: left;
        border-radius: (4/$df-fs)*$rem;
        outline: none;
        line-height: 1;

        i {
          float: right;
          color: #c5bae6;
        }

        &::after {
          color: $color-medium-purple;
          position: absolute;
          right: (18/$df-fs)*$rem;
          top: (17/$df-fs)*$rem;
        }
      }

      &.show {
        .btn-secondary {
          &::after {
            border-top: 0;
            border-bottom: (4/$df-fs)*$rem solid;
          }
        }

      }

      .dropdown-menu {
        width: 100%;
        min-width: 100%;
        padding: 0;
        box-shadow: 0px (5/$df-fs)*$rem (10/$df-fs)*$rem #D2D2D2;

        .dropdown-item {
          font-family: $sfui-regular;
          font-size: (14/$df-fs)*$rem;
          padding: (15/$df-fs)*$rem (24/$df-fs)*$rem;
          cursor: pointer;

          &:hover {
            background-color: #eeeeee;
            cursor: pointer;
          }

          &:focus {
            outline: 0;
          }

          &:active {
            background-color: #e0e0e0;
            color: #212121;
          }
        }
      }
    }

    .double-input {
      position: relative;

      input {
        width: 50%;

        &.price {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &.percentage {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}