@import "app/css/variable";

.certification-item {
  margin-bottom: (16/$df-fs)*$rem;
  border-bottom: 1px solid #e0e0e0;
  display: table;
  width: 100%;

  .details {
    display: table-cell;
  }

  .delete {
    display: table-cell;
    padding-left: (20/$df-fs)*$rem;
    vertical-align: top;
    width: (70/$df-fs)*$rem;

    .icon-contain {
      text-align: center;
      position: inherit;

      .icon-bin {
        color: #917bd5;
        font-size: (16/$df-fs)*$rem;
        cursor: pointer;
      }
    }
  }
}