@import "app/css/variable";

.form-input {
  margin-bottom: (12/$df-fs)*$rem;

  .input-form {
    color: #2D8F4E;
  }
}

.form-login {
  .fixle-checkbox-circle {
    margin-bottom: (18/$df-fs)*$rem;
    line-height: (24/$df-fs)*$rem;
    padding: (2/$df-fs)*$rem;
  }
}

.forgot-style {
  width: 50%;
  color: $color-violet;
  font-size: (10/$df-fs)*$rem;
  font-weight: 500;
  line-height: 3.2;
  letter-spacing: (1.3/$df-fs)*$rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin: 0 auto (14/$df-fs)*$rem;

  &.security {
    margin: 0 auto (11/$df-fs)*$rem;
  }

  &:hover {
    color: #625a87; //font-weight: 600;
  }

  &:active {
    color: #453b70; //font-weight: 600;
  }
}