@import "app/css/variable";

.btn-ghost {
  background-color: #fff;
  border-radius: (4/$df-fs)*$rem;
  border: solid 1px #e0e0e0;
  color: #2a2a2c;
  font-size: (12/$df-fs)*$rem;
  //font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: (14/$df-fs)*$rem;
  height: (40/$df-fs)*$rem;
  min-width: (161/$df-fs)*$rem;
  line-height: 1.17;
  letter-spacing: (1.6/$df-fs)*$rem;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #eeeeee;
  }

  &:active {
    background-color: #e0e0e0;
  }

  &.disabled {
    background-color: #f5f5f5;
    color: #9e9e9e;
  }

  &.edit {
    width: 6.93rem;
  }
}