@import 'app/css/variable';

.bot-message-list {
  .header-list-page {
    .search-bar {
      .form-control {
        min-width: (217/$df-fs)*$rem;
      }
    }
  }

  .table-fixle {
    .table-fixle-header {
      thead {
        tr {
          height: (56/$df-fs)*$rem;
        }
      }
    }

    .table-fixle-content {
      tr {
        td {
          padding-top: (28/$df-fs)*$rem;
          padding-bottom: (28/$df-fs)*$rem;
          vertical-align: top;
        }
      }
    }

    .message-name {
      padding-left: (36/$df-fs)*$rem;
      word-break: break-word;
      white-space: normal;
    }

    .speaker {
      word-break: break-word;
      white-space: normal;
    }
  }
}