@import "app/css/variable";

.new-device {
  .icon-camera {
    color: #917bd5;
  }

  .new-device-content {
    padding-bottom: (64/$df-fs)*$rem;

    .device-avatar {
      .avatar-wrapper {
        display: table-cell;
        width: (72/$df-fs)*$rem;
        height: (72/$df-fs)*$rem;
        border: solid 1px #e0e0e0;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
      }

      .change-avatar {
        display: table-cell;
        padding-left: (16/$df-fs)*$rem;
      }
    }

    .addition-action {
      margin-top: (14/$df-fs)*$rem;

      button {
        font-weight: 500;
        font-size: (10/$df-fs)*$rem;
        height: (32/$df-fs)*$rem;
        width: (169/$df-fs)*$rem;
        padding: 0;
      }
    }

    .information {
      .details {
        .input-group {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .info-item {
        &.contact-number {
          margin-bottom: 0;
          width: 100%;

          .form-input {
            margin-bottom: 0;
          }
        }
      }

      &.personal-information {
        .details {
          > div {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      &.address-details {
        .right {
          padding-right: (18/$df-fs)*$rem;

          .address-item {
            margin-right: (-28/$df-fs)*$rem;
            padding-right: (20/$df-fs)*$rem;
          }
        }
      }
    }
  }

  .new-device-footer {
    button:last-child {
      margin-left: (12/$df-fs)*$rem;
    }

    .btn-login {
      margin-bottom: 0;
    }
  }
}