@import 'app/css/variable';

.edit-estimate-modal {
  width: (469/$df-fs)*$rem;
  max-width: (469/$df-fs)*$rem;

  .modal-body {
    padding: 0;

    .upper {
      padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (16/$df-fs)*$rem;
    }

    .lower {
      padding: (15/$df-fs)*$rem (24/$df-fs)*$rem (24/$df-fs)*$rem;
      margin: 0;
      text-align: right;

      button {
        min-width: (146/$df-fs)*$rem;
      }
    }

    .estimate {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      .charges,
      .deposit,
      .total {
        padding: (16/$df-fs)*$rem (21/$df-fs)*$rem;
      }

      .charges {
        .charge-item {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .deposit {
        border-top: 1px solid #e0e0e0;

        .charge-item {
          margin-bottom: 0;
        }
      }

      .total {
        font-family: $sfui-bold;
        border-top: 1px solid #e0e0e0;
        letter-spacing: (0.3/$df-fs)*$rem;
        display: table;
        width: 100%;

        .price {
          font-size: (20/$df-fs)*$rem;
          line-height: 1.2;
        }

        .description {
          font-size: (14/$df-fs)*$rem;
          line-height: 1.36;
        }
      }
    }
  }
}