@import 'app/css/variable';

.remove-modal {
  .upper {
    .title {
      span {
        font-family: $sfui-bold;
        color: #2a2a2c;
      }
    }

    .description {
      color: #212121;
    }
  }

  .fixle-textarea-counter {
    .title {
      font-size: (9/$df-fs)*$rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: (1.3/$df-fs)*$rem;
      color: #757575;
      text-transform: uppercase;
    }
  }
}