@import "app/css/variable";

.time-picker {
  input {
    font-size: (14/$df-fs)*$rem;
    color: #212121;
    padding: (10/$df-fs)*$rem (16/$df-fs)*$rem (11/$df-fs)*$rem;
    border: solid 1px $color-platinum; //border-right-color: transparent;
    border-radius: (4/$df-fs)*$rem;
    background-color: $color-snow;
    height: (40/$df-fs)*$rem;
    width: 100%;
  }

  .toggler {
    padding: (16/$df-fs)*$rem (32/$df-fs)*$rem (16/$df-fs)*$rem (24/$df-fs)*$rem;
    position: absolute;
    width: (280/$df-fs)*$rem;
    height: (136/$df-fs)*$rem;
    object-fit: contain;
    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 100;
    margin-top: (8/$df-fs)*$rem;
    border-radius: (4/$df-fs)*$rem;
    text-align: center;
    display: table;

    .value {
      font-family: $sfui-bold;
      font-size: (14/$df-fs)*$rem;
      line-height: 1.36;
      letter-spacing: (0.3/$df-fs)*$rem;
    }

    .icon {
      color: #917bd5;
      cursor: pointer;
    }

    .hour-and-minute {
      display: table-cell;
      vertical-align: middle;
      width: 50%;

      .wrapper {
        display: table;

        .time-item {
          width: (40/$df-fs)*$rem;
          position: relative;

          .icon-contain {
            position: static;
            margin: auto;
            padding-top: (10/$df-fs)*$rem;

          }

          .value {
            margin: (10/$df-fs)*$rem 0;
          }

          .icon {
            font-size: (10/$df-fs)*$rem;
          }
        }

        .divider {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .session {
      display: table-cell;
      vertical-align: middle;
      padding-left: (20/$df-fs)*$rem;

      .switcher {
        width: (87/$df-fs)*$rem;
        height: (40/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        border-radius: (4/$df-fs)*$rem;
        display: table;

        .value {
          margin-right: (10/$df-fs)*$rem;
          display: table-cell;
          vertical-align: middle;
        }

        .icon {
          font-size: (18/$df-fs)*$rem;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}