@import '../../css/variable';

.edit-job-description-content {
  .location {
    margin-bottom: (10/$df-fs)*$rem;
  }

  .comment-images {
    .label {
      margin-bottom: (1/$df-fs)*$rem;
      font-size: (9/$df-fs)*$rem;
      line-height: 1.56;
      letter-spacing: (1.3/$df-fs)*$rem;
      color: #757575;
      text-transform: uppercase;
    }

    textarea.form-control {
      color: #212121;
      background-color: $color-snow;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .images {
      .proof-upload-wrapper {
        padding: (14/$df-fs)*$rem (14/$df-fs)*$rem (14/$df-fs)*$rem (19/$df-fs)*$rem;
        border: 1px solid #e0e0e0;
        border-bottom-left-radius: (4/$df-fs)*$rem;
        border-bottom-right-radius: (4/$df-fs)*$rem;
        border-top: none;
        margin: 0;
        width: 100%;

        .proof-label {
          display: none;
        }
      }

      .image-frame-wrapper {
        .image-frame {
          height: (48/$df-fs)*$rem;
          width: (48/$df-fs)*$rem;
        }

        .proof-wrapper {
          .item-proof {
            height: (48/$df-fs)*$rem;
            width: (48/$df-fs)*$rem;

            .icon-cancel {
              color: #212121;
            }
          }
        }
      }
    }
  }

  .errors {
    margin-top: (16/$df-fs)*$rem;
  }
}

.edit-job-description-footer {
  position: absolute;

  button:last-child {
    margin-left: (12/$df-fs)*$rem;
  }

  .btn-login {
    margin-bottom: 0;
  }
}