@import 'app/css/variable';

.re-assign-modal {
  margin-top: (104/$df-fs)*$rem;

  .modal-body {
    padding: 0;
  }

  .re-assign {
    .upper {
      padding: (24/$df-fs)*$rem (24/$df-fs)*$rem (16/$df-fs)*$rem;

      .description {
        ul {
          padding-left: (20/$df-fs)*$rem;
          margin-bottom: 0;

          li {
            margin-bottom: (6/$df-fs)*$rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .middle {
      .selection {
        padding: (20/$df-fs)*$rem (28/$df-fs)*$rem;
        border-top: 1px #e0e0e0 solid;

        &.selected {
          background-color: #f5f5f5;
        }

        &:hover {
          background-color: #f5f5f5;
        }

        .fixle-checkbox-circle {
          line-height: 1;
        }
      }
    }

    .lower {
      margin-top: 0;
      border-top: 1px #e0e0e0 solid;
      padding: (16/$df-fs)*$rem (24/$df-fs)*$rem (24/$df-fs)*$rem;

      button {
        width: (140/$df-fs)*$rem;

        &.re-assign {
          font-weight: 500;
        }
      }
    }
  }
}