@import "app/css/variable";

.dropdown-edit {
  width: 100%;

  .btn-secondary {
    width: 100%;
    padding: (11/$df-fs)*$rem (13/$df-fs)*$rem;
    font-family: $sfui-regular;
    font-size: (14/$df-fs)*$rem;
    background: #fafafa !important;
    border: 1px solid #e0e0e0;
    color: #212121 !important;
    text-align: left;
    border-radius: (4/$df-fs)*$rem;
    outline: none;

    i {
      float: right;
      color: #c5bae6;
    }

    &::after {
      color: $color-medium-purple;
      position: absolute;
      right: (18/$df-fs)*$rem;
      top: (17/$df-fs)*$rem;
    }
  }

  .dropdown-menu {
    width: 100%;
    padding: 0;
    margin-top: (5/$df-fs)*$rem;
    transform: none !important;
    top: 100% !important;
    overflow: hidden;
    box-shadow: 0 (5/$df-fs)*$rem (10/$df-fs)*$rem 0 rgba(0, 0, 0, 0.2);

    .dropdown-item {
      font-family: $sfui-regular;
      font-size: (14/$df-fs)*$rem;
      padding-top: (12/$df-fs)*$rem;
      padding-bottom: (12/$df-fs)*$rem;

      &:hover {
        background-color: #eeeeee;
        cursor: pointer;
      }

      &:focus {
        outline: 0;
      }

      &:active {
        background-color: #e0e0e0;
        color: #212121;
      }
    }
  }
}