@import "app/css/variable";

.btn-login {
  width: 100%;
  height: (48/$df-fs)*$rem;
  background-color: $color-lighter-violet;
  color: white;
  text-transform: uppercase;
  font-size: (12/$df-fs)*$rem;
  font-weight: 500;
  letter-spacing: (1.6/$df-fs)*$rem;
  margin-bottom: (13/$df-fs)*$rem;

  &.isSubmit {
    background-color: $color-violet;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    &:hover {
      background: #c8bdea;
    }
  }

  &:hover {
    background-color: #625a87;
  }

  &:active {
    background-color: #453b70;
  }
}
