@import 'app/css/variable';

.reassign-specific-modal {
  .middle {
    margin-top: (16/$df-fs)*$rem;

    .info-item {
      margin-bottom: (16/$df-fs)*$rem;

      .label {
        font-size: (9/$df-fs)*$rem;
        line-height: 1.56;
        letter-spacing: (1.3/$df-fs)*$rem;
        color: #757575;
        text-transform: uppercase;
      }

      .dropdown-edit {
        margin-top: (5/$df-fs)*$rem;
      }
    }

  }
}